<a class="knopka" href="teoriya">Назад</a>
<div class="block">
    <h1>Методы физического воспитания</h1>
<p>Любое педагогическое средство зависит от метода его применения. Метод — это способ физкультурной деятельности. Требования к методам:</p>
<ul>
    <li>метод должен соответствовать задачам ФВ;</li>
    <li>применение метода должно опираться на реализацию всей системы принципов;</li>
    <li>метод должен соответствовать возможностям занимающихся;</li>
    <li>метод должен соответствовать возможностям учителя (тренера);</li>
    <li>метод должен соответствовать условиям занятий и отведенному времени.</li>
</ul>
<p>Классификация методов:</p>
<ul>
    <li>методы регулирования нагрузки;</li>
    <li>методы организации занятий;</li>
    <li>методы контроля.</li>
</ul>
<p>Применение всех перечисленных методов связано с использованием сло­весных и наглядных методов.</p>
<p>Методический прием — это способ воздействия, используемый для ре­шения частных задач (например, показ ученикам упражнения стоя в профиль). У каждого метода могут быть самые разнообразные методические приемы.</p>
<p>Методика — система средств, методов и методических приемов, направ­ленных на достижение определенного результата в процессе физического воспитания.</p>
<p>Структура метода:</p>
<ul>
    <li>нагрузка, состоящая из двух компонентов — объема и интенсивности;</li>
    <li>отдых.</li>
</ul>
<p>Нагрузка — это мера воздействия средств на организм занимающегося, а также степень преодолеваемых при этом трудностей.</p>
<p>Отдых — это восстановление организма после нагрузки.</p>
<p>Интенсивность — это относительная величина воздействия нагрузки, характеризующаяся силой воздействия. Показатели интенсивности изме­ряются в мощности работы, скорости, частоте движений и т. д.</p>
<p>Объем — это абсолютная величина воздействия нагрузки, выражается в длительности воздействия, измеряется в: дистанции, общем количестве зат­раченного времени, общем количестве повторений.</p>
<p>В процессе выполнения упражнения объем, и интенсивность нагрузки находятся в обратно пропорциональной зависимости (чем выше объем, тем ниже интенсивность).</p>
<p>Виды интенсивности нагрузки:</p>
<ul>
    <li>низкая интенсивность ­­­— ЧСС до 120 уд/мин. - неразвивающий характер нагрузки;</li>
    <li>умеренная интенсивность — ЧСС до 150 уд/мин. ― 50% от максимальной интенсивности развитие общей выносливости;</li>
    <li>большая интенсивность — ЧСС от 150 до 170 уд/мин. ― 70% от мак­симальной интенсивности — развитие анаэробно-аэробных возможностей, развитие специальной выносливости, 2-ая скоростная выносливость;</li>
    <li>субмаксимальная интенсивность ЧСС до 200-220 уд/мин. — анаэ­робная специальная выносливость — скоростная выносливость;</li>
    <li>максимальная интенсивность — ЧСС чуть меньше, чем в субмакси­мальной — развивает анаэробные (алактатные) возможности.</li>
</ul>
<p>Виды отдыха: активный, пассивный, активно-пассивный.</p>
<p>Активный отдых — переключение на деятельность, отличную от той, которая вызвала утомление.</p>
<p>Пассивный отдых — относительный покой без активной двигательной деятельности.</p>
<p>Активный отдых дает лучший эффект восстановления, чем пассивный. По длительности и эффекту различают следующие интервалы отдыха:</p>
<ol>
    <li>Короткий интервал отдыха (жесткий) — фаза субкомпенсации, недовосстановления — восстановление на 60-70% от исходного уровня. ЧСС восста­навливается до 130-140 уд/мин. После этого интервала отдыха можно ра­ботать с нагрузкой большой интенсивности.</li>
    <li>Средний интервал отдыха (ординарный) — фаза компенсации, ЧСС вос­станавливается до 110-120 уд/мин. После этого интервала отдыха выполняют работу с нагрузкой субмаксимальной интенсивности.</li>
    <li>Длинный интервал (экстремальный) — фаза суперкомпенсации, ЧСС восстанавливается до 90-100 уд/мин. После этого интервала отдыха вы­полняют работу с нагрузкой максимальной интенсивности.</li>
</ol>
<p>По интервалу между занятиями отдых бывает:</p>
<ul>
    <li> ординарный — примерно равен длительности фазы относительной нормализации функционального состояния организма после проведенного занятия. В массовой ФК он составляет около 2 суток;</li>
    <li>сжатый — предусматривает проведение очередного занятия на фоне недовосстановления (предъявляет высокие требования к функциональным возможностям организма);</li>
    <li>суперкомпенсаторный — позволяет в очередном занятии повысить об­щую нагрузку и выполнять задание на более высоком уровне</li>
</ul>
<p>Методы строго регламентированного упражнения</p>
<p>Методы этого типа характеризуются полной регламентацией деятель­ности:</p>
<ul>
    <li> твердо предписанной программой (заранее известна последовательность, порядок выполнения);</li>
    <li>определена нагрузка (объем, интенсивность, интервалы отдыха, харак­тер отдыха).</li>
</ul>
<p>Структура методов строго регламентированного упражнения представ­лена на рис.3.</p>
<img src="https://studfile.net/html/2706/54/html_ouzqRuke0n.uiXb/img-jhDC1C.png" alt="">
<p>Методы обучения движениям:</p>
<ul>
    <li>целостный метод — обучение движению в полной его структуре, ис­пользуется, когда движения просты по своей структуре (ходьба, бег), либо при обучении сложным по структуре движениям на этапе закрепления и со­вершенствования движения;</li>
    <li>расчлененный метод — обучение отдельным частям движения, исполь­зуется при обучении сложным по структуре движениям на начальных этапах разучивания.</li>
</ul>
<p>Методы развития физических качеств:</p>
<ul>
    <li>стандартный — выполнение упражнений с постоянной интен­сивностью для закрепления адаптации к нагрузке (длительный бег при ЧСС 130-140 уд/мин.);</li>
    <li>переменный — выполнение упражнений с меняющейся интен­сивностью нагрузки, используется для развития, совершенствования физи­ческих качеств;</li>
    <li>непрерывный — выполнение упражнений без интервалов отдыха, ис­пользуется для развития аэробной и смешанной выносливости;</li>
    <li>интервальный — выполнение упражнений с использованием интер­валов отдыха, используется для развития специальных видов выносливости, скоростных, скоростно-силовых способностей;</li>
    <li>стандартно-непрерывный, или равномерный метод, используется для "мягкого" развития общей выносливости;</li>
    <li>стандартно-интервальный, или повторный метод, используется для развития скоростных способностей (например 4x400 м с интервалом отдыха 30 секунд или повторное пробегание 10' - 8' - 6', отдых 7' - 6' - 5', повторить 3 серии);</li>
    <li>переменно-интервальный метод — варьирование трех моментов: а) интенсивности (4x100 – 90 %, 100 %, 100 %, 90 %, интервал отдыха одинаковый), здесь выделяют метод прогрессирующего упражнения, когда нагрузка изменяется в сторону увеличения с ординарными интервалами отдыха; б) интервалов отдыха (нагрузка та же - 4x100, интервалы отдыха 60, 30, 40, 60 секунд); в) нагрузки и интервалов отдыха (100, 200, 300,400 метров с изме­нением интервалов отдыха);</li>
    <li>переменно-непрерывный метод — варьирование интенсивности в процессе достаточно длительной нагрузки, без интервалов отдыха (фортлек - игра скоростей, кросс).</li>
</ul>
<p>Особую группу составляют методы комбинированного типа, в которых сочетаются моменты стандартизации и вариативности воздействия:</p>
<ol>
    <li> метод стандартно-вариативного воздействия — повторное пробегание 100+300 с ускорением темпа на первом отрезке и замедлением на втором;</li>
    <li>метод повторного упражнения с убывающими интервалами — этот метод ведет к прогрессирующему увеличению молочной кислоты в крови, предъявляя тем самым повышенные требования к развитию выносливости;</li>
    <li>метод повторно-прогрессирующего упражнения.</li>
</ol>
<p>Одной из наиболее рациональных форм комплексирования различных методов строго регламентированного упражнения является круговая тре­нировка. Ее основа в серийном повторении нескольких видов ФУ, объеди­ненных в комплекс в соответствии с определенной упорядоченной схемой и выполняемых в порядке последовательной смены станций, которые распо­ложены по замкнутому кругу. В комплекс круговой тренировки включают технически несложные и предварительно разученные движения. К основным вариантам круговой тренировки относятся:</p>
<ul>
    <li>круговая тренировка по методу длительного непрерывного упражнения (на воспитание общей выносливости);</li>
    <li> круговая тренировка по методу интервального упражнения с жесткими интервалами отдыха (на развитие силовой и скоростно-силовой выносли­вости);</li>
    <li>круговая тренировка по методу интервального упражнения с ординар­ными интервалами отдыха (на развитие силовых и скоростных способностей).</li>
</ul>
<p>Игровой и соревновательный методы</p>
<p>Игровой метод может быть использован в процессе обучения и совер­шенствования двигательных действий и позволяет оказывать комплексное воздействие на физические качества.</p>
<p>Особенности игрового метода:</p>
<ul>
    <li>наличие сюжета;</li>
    <li>комплексный характер деятельности;</li>
    <li>высокая эмоциональность;</li>
    <li>отсутствие строгой регламентации деятельности;</li>
    <li>высокая изменчивость условий деятельности;</li>
    <li>проявление творчества со стороны занимающихся;</li>
    <li>моделирование социально-психологических отношений (сотрудни­чества и соперничества).</li>
</ul>
<p>Соревновательный метод — это сопоставление сил в условиях упорядо­ченного соперничества, борьбы за первенство или высокое достижение.</p>
<p>Соревновательный метод используется как в элементарной, так и в раз­вернутой формах. Элементарная форма —соревновательный метод подчиня­ется общей организации занятия, развернутая форма — относительно самос­тоятельная форма занятия.</p>
<p>Особенности соревновательного метода:</p>
<ul>
    <li>установка на победу;</li>
    <li>максимальное проявление физических и психических сил;</li>
    <li>частичная ограниченность в регулировании нагрузки (вся нагрузка сво­дится к максимальной);</li>
    <li>унификация содержания состязательной деятельности (наличие пра­вил).</li>
</ul>
<p>Словесный и наглядный методы</p>
<p>Словесные методы — рассказ (свободное описание техники упражне­ний), объяснение (помимо внешних признаков указываются причины тех­ники выполнения упражнения), команда (краткое и жесткое по форме зада­ние), беседа (свободный диалог тренера и спортсмена), сопроводительное пояснение (краткая подсказка во время выполнения упражнения), подсчет.</p>
<p>Требования к применению словесных методов: слово должно соответ­ствовать возможностям ученика; с помощью слова необходимо выделять основу техники, главное звено; необходимо использовать терминологию для лучшего восприятия слова.</p>
<p>Терминология должна отвечать следующим требованиям:</p>
<ul>
    <li>термины должны определять основы техники;</li>
    <li>термины должны быть точными; </li>
    <li>термины должны быть краткими;</li>
    <li>термины должны быть понятными.</li>
</ul>
<p>Наглядные методы — непосредственный показ упражнения (реальный, имитированный, условный, замедленный показ, зеркальный, лидированный показ, акцентированный), опосредованный показ (схемы, рисунки, фото, ки­но-видео, учебные карточки, звуко-светолидеры, средства срочной инфо­рмации).</p>

















</div>
