<h1>Гимнастика</h1>
<hr>
<div class="zpl">
    <h2>Задания прошлых лет</h2>
    <p>Для лучшего понимания выполнения гимнастических связок на олимпиаде рекомендуем посмотреть видио обзоры в разделе <a href="dop-inf">ВАРИАНТА ПРОШЛЫХ ЛЕТ</a></p>
</div>
<div>
    <h2>Элементы</h2>
    <div class="textcols">
        <div class="textcols-left">
            <h3>Девушки</h3>
            <ul>
                <li><a routerLink="elements">Фронтальное равновесие (пятка поднятой ноги не ниже45°), держать</a></li>
                <li><a href="">Переднее равновесие («ласточка»), держать</a></li>
                <li><a href="">Сед углом, руки в стороны</a></li>
                <li><a href="">Стойка на лопатках</a></li>
                <li><a href="">Стойка на лопатках без помощи рук</a></li>
                <li><a href="">Мост из положения лёжа – поворот направо (налево)кругом в упор 
                    присев</a></li>
                <li><a href="">Кувырок вперёд</a></li>
                <li><a href="">Кувырок вперёд в стойку на лопатках</a></li>
                <li><a href="">Кувырок вперёд в стойку на лопатках без помощи рук</a></li>
                <li><a href="">Кувырок вперёд прыжком</a></li>
                <li><a href="">Кувырок вперёд согнувшись в стойку ноги врозь</a></li>
                <li><a href="">Кувырок назад </a></li>
                <li><a href="">Кувырок назад согнувшись в стойку ноги врозь и вместе </a></li>
                <li><a href="">Прыжок вверх ноги врозь </a></li>
                <li><a href="">Прыжок со сменой согнутых ног («козлик»)</a></li>
                <li><a href="">Прыжок со сменой прямых ног («ножницы»)  </a></li>
                <li><a href="">Прыжок вверх с поворотом на 180º </a></li>
                <li><a href="">Прыжок вверх с поворотом на 360º  </a></li>
                
            </ul>
        </div>
        <div class="textcols-right">
            <h3>Юноши</h3>
            <ul>
                <li><a href="">Фронтальное равновесие (пятка поднятой ноги не ниже 45°), держать</a></li>
                <li><a href="">Переднее равновесие («ласточка»), держать</a></li>
                <li><a href="">Фронтальное равновесие с захватом за бедро (пятка поднятой ноги 
                    не ниже 90°), держать</a></li>
                <li><a href="">Фронтальное равновесие (пятка поднятой ноги не ниже 90°), держать</a></li>
                <li><a href="">Разновидности наклонов вперёд из различных и.п., держать</a></li>
                <li><a href="">Сед углом, руки в стороны</a></li>
                <li><a href="">Стойка на лопатках</a></li>
                <li><a href="">Стойка на лопатках без помощи рук</a></li>
                <li><a href="">Стойка на голове и руках (толчком и силой)</a></li>
                <li><a href="">Кувырок вперёд</a></li>
                <li><a href="">Кувырок вперёд в стойку на лопатках</a></li>
                <li><a href="">Кувырок вперёд в стойку на лопатках без помощи рук</a></li>
                <li><a href="">Кувырок вперёд прыжком</a></li>
                <li><a href="">Кувырок вперёд согнувшись в стойку ноги врозь</a></li>
                <li><a href="">Кувырок назад</a></li>
                <li><a href="">Кувырок назад согнувшись в стойку ноги врозь</a></li>
                <li><a href="">Кувырок назад в упор стоя согнувшись </a></li>
                <li><a href="">Кувырок назад через стойку на руках, обозначить </a></li>
                <li><a href="">Прыжок вверх ноги врозь</a></li>
                <li><a href="">Прыжок вверх с поворотом на 180º</a></li>
                <li><a href="">Прыжок вверх с поворотом на 360º</a></li>
                <li><a href="">Прыжок со сменой согнутых ног вперёд</a></li>
                <li><a href="">Прыжок со сменой прямых ног вперёд</a></li>
                <li><a href="">Переворот в сторону («колесо»)</a></li>
                <li><a href="">Два переворота в сторону (два «колеса») слитно </a></li>
               
            </ul>
        </div>
    </div>
</div>