<h3>Современные олимпийские игры</h3>

<p>

    Олимпийская хартия  основной закон всемирного движения, своего рода конституция олимпийского движения, свод основных законов, по которым живет мир современного олимпийского спорта. В ней изложены принципы олимпизма, правила организации и проведения Олимпийских игр, устройство олимпийского движения.
    
    «Олимпизм» представляет собой философию жизни, возвышающую
    
    и объединяющую в сбалансированное целое достоинства тела, воли и разума.
    
    Олимпизм, соединяющий спорт с культурой и образованием, стремится
    
    к созданию образа жизни, основанного на радости от усилия, на воспитательной ценности хорошего примера и на уважении к всеобщим основным этическим принципам.
    
    Целью «олимпизма» является повсеместное становление спорта на службу гармоничному развитию человека, с тем, чтобы способствовать созданию мирного общества, заботящегося о сохранении человеческого достоинства».
    
    Понятие «олимпиада». Согласно Олимпийской хартии термин «олимпиада» означает период, состоящий из четырех последовательных лет, который начинается в день открытия летних Олимпийских игр и оканчивается
    
    с открытием следующих летних Олимпийских игр.
    
    Олимпийский символ. Первые символы современных Олимпийских игр брали свое начало в олимпиадах древности, например лавровый венок, которым увенчивали победителей, или оливковая ветвь. На смену им пришел современный олимпийский символ. Он представляет собой пять переплетенных многоцветных или одноцветных колец и олицетворяет единство пяти континентов и встречу спортсменов всего мира на Олимпийских играх. Переплетенные кольца изображены в следующем порядке: три кольца вверху (слева направо)  синее, черное, красное и два внизу  желтое и зеленое.
    
    «OtitisAItlliSFortius» Олимпийский девиз.Олимпийский девиз «Быстрее, выше,сильнее» выражает устремления олимпийского движения. Автором девиза был священник Дидон, директор одного из колледжей
    
    во Франции. Он одним из первых сумел оценить благотворное влияние спорта на воспитание молодежи. Олимпийская эмблема. Олимпийская эмблема представляет собой сочетание пяти колец с каким-нибудь другим элементом. Например, эмблема МОК  олимпийские кольца в сочетании с олимпийским девизом «Быстрее, выше, сильнее».
    
    Олимпийский флаг. Его идея, как и многое другое в олимпийском движении, была предложена Пьером де Кубертеном. МОК утвердил ее в 1913 г. Флаг решено было поднять на Играх 1916 г. Однако помешала Первая мировая война!
    
    А флаг-то и в самом деле прекрасен: на белом атласном полотнище размером два на три метра олимпийский символ  пять разноцветных колец. Белое поле флага дополняет идею дружбы всех без исключения наций Земли.
    
    Олимпийский огонь. Зажжение олимпийского огня  один из главных ритуалов на торжественной церемонии открытия и летних, и зимних Олимпийских игр.
    
    Мысль об олимпийском огне, рождающемся от солнечных лучей у развалин храма Зевса в Олимпии, и его доставке факельной эстафетой на олимпийский стадион к моменту открытия игр родилась у Пьера де Кубертена 1912 г.
    
    Впервые церемония зажжения олимпийского огня была проведена на Играх XI Олимпиады 1928 г. в Амстердаме, а на зимних Играх  в 1952 г. в Осло. Эстафета же олимпийских факелов, первый из которых вспыхивает в Олимпии, впервые состоялась в 1936 г.
    
    Клятвы спортсменов и судей. Первый текст олимпийской клятвы спортсменов предложил Пьер де Кубертен в 1913 г. В наше время клятва звучит так: «От имени всех спортсменов я обещаю, что мы будем участвовать в этих Играх, уважая и соблюдая правила, по которым они проводятся, в истинно спортивном духе, во славу спорта и во имя чести своих команд».
    
    Впервые олимпийская клятва была произнесена на Олимпиаде 1920 г. Клятву произносит один из выдающихся спортсменов той страны, где проводятся Игры.
    
    Талисман Олимпийских игр. Традиция придумывать талисман Олимпийских игр возникла не так давно. Спортсмены и болельщики слегка суеверны. Они полушутя, полусерьезно верят в разные приметы, носят при себе талисманы. Известно, например, что лучший футбольный вратарь всех времен Лев Яшин хранил свою первую кепку многие десятилетия.
    
    Впервые это случилось на Олимпийских играх в Мехико  появился талисман. Но не чей-то персонально, а для всех, общий: чтобы приносить счастье любому олимпийцу, любому болельщику.
    
    Обычно талисманом объявляют изображение какого-либо животного, популярного в стране, проводящей Олимпийские игры. Московской Олимпиады  бурый медвежонок Миша.
    
    Олимпийские награды. Специальные награды вручаются за спортивные успехи на Олимпийских играх. Среди них, прежде всего медали и дипломы. Их вручают в каждом номере программы  победителю и призерам: золотую, серебряную и бронзовую.
    
    За третье место медаль действительно бронзовая, за второе место  действительно серебряная. А вот за первое место тоже серебряная, но покрытая толстым слоем золота (не менее 6 граммов)!
    
    Когда проводятся Олимпийские игры. Хартией установлено, что Игры Олимпиады (иногда их называют летними) проводятся в течение первого года Олимпиады. Так, четырехлетний период XXII Олимпиады начался в 1980 г., поэтому Московские Игры были проведены именно в тот год.
    
    Зимние Олимпийские игры, начиная с 1994 г., проводятся в течение второго календарного года, отсчитываемого после года, в котором начинается Олимпиада. Поэтому XVII зимние Олимпийские игры в Лиллехаммере были проведены в 1994 г., во второй по счету год после 1992года Барселонских Игр.
    
    Продолжительность Игр Олимпиады и зимних Олимпийских игр
    
    не должна превышать шестнадцати дней, включая день церемонии открытия. Если в субботу или воскресенье соревнования не проводятся, продолжительность Олимпийских игр соответственно увеличивается.
    
    Где проводятся Олимпийские игры. Выбор города, где проводятся Олимпийские игры  это исключительное право Международного олимпийского комитета. Но кандидатура города должна быть одобрена национальным олимпийским комитетом его страны.
    
    Олимпийская деревня. Олимпийская хартия предписывает, что на Играх спортсмены, тренеры, официальные лица и другой персонал команд должны жить в одном месте. Организационный комитет должен предоставить им Олимпийскую деревню. Конечно, «деревня»  название условное.
    
    Кто участвует в Олимпийских играх. Спортсмены, участвующие
    
    в Олимпийских играх, должны уважать дух честной игры, не использовать вещества или приемы спортивной борьбы, запрещенные правилами МОК
    
    и международных спортивных федераций. Речь идет, прежде всего,
    
    о категорическом запрете применять допинги  вредные для здоровья атлетов препараты, дающие одному спортсмену незаслуженное преимущество перед другими.
    
    Олимпийская программа. Хартия устанавливает, что на Олимпийских играх проводятся соревнования лишь по так называемым олимпийским видам спорта.
    
    Масштабы Олимпийских игр. Хартия устанавливает, что программа Игр Олимпиады (далее Игр) должна включать, по меньшей мере, 15 олимпийских видов спорта. Такой требуемый минимума относится к программе зимних Олимпийских игр.
    
    Чтобы масштабы Олимпийских игр не вырастали до бесконечности,
    
    в отдельных видах спорта международные спортивные федерации организуют перед Играми отборочные соревнования или др. способами устанавливают допустимую численность участников Олимпийских игр.
    
    Число участников от одной страны в индивидуальных соревнованиях
    
    не должно превышать трех. Исключение делается для отдельных зимних видов спорта, например лыжных гонок.
    
    Кто проводит олимпийские соревнования. Олимпийские игры проводятся под руководство Международного олимпийского комитета.
    
    Международные федерации назначают арбитров, судей, хронометристов
    
    и апелляционные жюри в каждом виде спорта. Именно они и проводят олимпийские состязания и определяют победителей.
    
    Олимпийские сооружения. Для олимпийских состязаний должны быть предоставлены самые современные, оборудованные по последнему слову техники спортивные сооружения,  стадионы, дворцы спорта, каналы для соревнований
    
    по гребле, стрельбища, трассы и дистанции для соревнований на местности.
    
    Олимпийское движение  одно из самых значительных международных общественных движений. Оно объединяет десятки международных и тысячи национальных организаций почти двухсот стран мира.
    
    Цель Олимпийского движения  способствовать миру и дружбе между всеми народами посредством воспитания молодежи занятиями спортом
    
    в олимпийском духе - в духе взаимопонимания, дружбы, солидарности и честной игры.
    
    
    
    
    
    Международный олимпийский комитет
    
    МОК является международной неправительственной организацией. Срок его деятельности не ограничен. Секретариат МОК постоянно находится в городе Лозанне (Швейцария).
    
    Роль Международного олимпийского комитета состоит в руководстве олимпийским движением и развитием олимпизма в соответствии
    
    с Олимпийской хартией.
    
    Членство в Международном олимпийском комитете является индивидуальным. МОК сам избирает своих членов.
    
    
    История паралимпийского спорта: становление, события, факты.
    (Из материалов МПК)
    
    
    Паралимпийский спорт берет начало в 1880-х годах. Однако только разработка в 1945 году нового режима лечения людей с травмами спинного мозга привела к развитию всемирного спортивного движения для инвалидов, известного сегодня как Паралимпийское движение. После Второй мировой войны спорт для инвалидов шагнул вперед, чему немало способствовали труды Людвига Гутмана (LudwigGuttmann), немецкого вра¬ча, в 1936 году бежавшего в Англию от нацизма. Он утвердил спорт как средство физической, психологической и социальной реабилитации инвалидов с повреждением позвоночника. Сэр Людвиг Гуттман из больницы Сток-Мандевиля (Англия) в корне изменил теорию и практику реабилитации, сделав особый упор на спорт. В 2003 году МПК принял Видение, отражающее главную цель Паралимпийского движения:создать для паралимпийцев все условия, позволяющие им достичь спортивного мастерства, вдохновлять и восхищать мир.
    
    Основы олимпийских знаний Возникновение физической культуры при первобытнообщинном строе
    В основе всей первобытной физической культуры как части общей культуры лежал труд, который носил коллективный характер. Первобытный труд, несмотря на свою примитивность, требовал определенной сноровки, ловкости. Большой выносливости и физической силы, умении охотиться, ловить рыбу, выкапывать коренья. Поэтому взрослые учили детей прыгать, плавать, бросать вначале камни, а позднее – дротики, копья, лазить по деревьям.
    
    По мере совершенствования форм ведения хозяйства и изобретения новых орудий труда обогащались и средства физического воспитания. Так,
    
    с изобретением лука и стрел (XII – VI тысячелетия до н.э.) появляются упражнения в стрельбе из лука. С приручением животных (быка, лошади) зарождаются игры с быком и верховая езда. Древнейшей формой организации физического воспитания были игры. Впервые о происхождении игр писал Г.В. Плеханов. В своих играх дети старались воспроизвести труд своих родителей.
    Физическая культура в Древней Греции
    Основная часть населения Древней Греции, состоявшая из рабов,
    
    не имевших никаких человеческих прав, была лишена возможности заниматься физической культурой. Физическая культура приобрела классовый характер. Наиболее характерными в этом отношении были пути формирования системы физического воспитания в Спарте и Афинах.
    
    До сих пор широко известен термин «спартанское воспитание». Воспитателями детей являлись старшие спартиаты. На умственное воспитание молодых спартиатов обращали незначительное внимание. Много времени отводилось пляскам и пению хоровых песен. В Спарте физическое воспитание распространялось и
    
    на девушек.
    
    В воспитании юношей большое место занимали упражнения в метании диска и копья, борьбе и кулачном бое, в беге и прыжках, охота на диких зверей и военные игры, развивающие мужество и находчивость.
    
    Благодаря хорошо поставленному физическому воспитанию
    
    и совершенной военной организации спартиаты создали сильную армию гоплитов (тяжеловооруженная пехота), которая считалась лучшей в Греции и долгое время была непобедимой. Спартанские атлеты участвовали во многих олимпийских играх и нередко выходили победителями.
    
    В афинской системе впервые была сделана попытка соединить воспитание умственное, физическое, нравственное и эстетическое.
    
    С 7 до 16 лет молодой афинянин посещал государственную или частную мусическую
    
    и гимнастическую школу.*
    
    В гимнастической школе, которую мальчики начинали посещать в 13 лет, осуществлялось физическое воспитание. Дети в течение двух-трех лет занимались бегом, прыжками, борьбой, плаванием, метанием копья и диска. По достижении 16-летнего возраста дети наиболее обеспеченных родителей поступали в так называемые гимнасии, где наряду с занятиями физическими упражнениями они изучали философию, политику, литературу.
    
    В целом система физического воспитания, сложившаяся в период расцвета греческого античного общества, называлась гимнастикой. Она состояла из трех разделов:
    
    I раздел – палестрика (от слов «пале» – борьба). Основным содержанием ее был греческий пентатлон – пять видов физических упражнений: бег, п рыжки, метание копья и диска, борьба. В палестрику входили также панкратион (соединение борьбы с кулачным боем), плавание, кулачный бой, верховая езда, стрельба из лука, езда на колеснице, игры
    
    в мяч.
    
    II раздел – орхестика – состоял в основном из танцевальных упражнений, выполнявшихся под музыку.
    
    III раздел – игры с палкой, колесом, с клюшкой и шаром и другие детские подвижные игры.
    
    У древних греков различались два метода использования и применения физических упражнений: гимнастика, или общее физическое развитие,
    
    и агонистика – специальная тренировка к выступлениям в состязаниях
    
    
    
    Особенности физического воспитания в Древнем Риме
    
    В VIII – VI вв. до н.э. территория Древнего Рима была заселена большим количеством племен, живших родовым строем.
    
    Постепенно происходит накопление богатства у отдельных лиц
    
    и расслоение на классы.Физическое воспитание отличалось от методов, которые были характерны для Древней Греции. Физической подготовке уделялось большое внимание только при обучении воинов.
    
    </p>
