<a class="knopka" href="teoriya">Назад</a>

<div class="block">
<h1>Средства физического воспитания</h1>
<p>К средствам ФВ относятся, прежде всего, двигательные действия в форме спортивных и гимнастических упражнений, а также подвижные игры. Все они объединяются понятием "физические упражнения". Кроме этого, к сред­ствам ФВ относят гигиенические факторы и естественные силы природы. В качестве дополнительных средств выступают различные приборы и конструкции.</p>
<p>Физические упражнения (ФУ) — это такие виды двигательных дей­ствий, которые направлены на реализацию задач ФВ и подчинены его зако­номерностям.</p>
<p>Двигательное действие — это целенаправленное проявление двигатель­ной активности человека, преследующее решение конкретной задачи. Двига­тельное действие состоит из системы движений и поз. Не все движения и двигательные действия можно назвать физическими упражнениями.</p>
<p>Число физических упражнений в ФВ очень велико, но они могут разли­чаться по форме и по содержанию.</p>
<p>Содержание ФУ составляют входящие в него действия и основные процессы, которые развертываются в функциональных системах организма по ходу упражнений. Эти процессы сложны, многогранны и могут рассматриваться в различных аспектах: психологическом, физиологическом, биохи­мическом и др. ФУ воздействуют не только на биологию, но и на психику, сознание, поведение человека.</p>
<p>От особенностей содержания того или иного ФУ в решительной мере зависит его форма.</p>
<p>Форма ФУ представляет собой его внутреннюю и внешнюю структуру. Внутренняя структура характеризуется тем, как во время ФУ связаны между собой различные процессы функционирования организма, нервно-мышечные координации, каковы взаимосвязь моторных и вегетативных функций, соотношение энергетических процессов. Внешняя структура — это его види­мая форма, которая характеризуется соотношением пространственных, вре­менных и динамических параметров движений.</p>
<p>Форма и содержание ФУ взаимосвязаны, причем содержание играет ве­дущую роль по отношению к форме. По мере изменения элементов содержа­ния меняется и форма упражнения (повышается мощность, скорость, уве­личивается амплитуда движения), и наоборот, несовершенная форма препят­ствует максимальному выявлению функциональных возможностей, как бы сковывает их.</p>
<p>Техника ФУ — это наиболее эффективный способ выполнения двига­тельных действий.
</p>
<p>Эффективность ФУ выражается в наиболее рациональном воздействии на организм занимающихся. Среди различных способов выполнения обычно выбирают те, которые соответствуют: а) индивидуальным особенностям; б) уровню физической подготовленности; в) поставленной задаче; г) качеству спортивного инвентаря.</p>
<p>Различают основу техники, ее главное звено и детали техники.</p>
<p>Основа техники — это совокупность звеньев и черт структуры движения, необходимая для решения поставленных задач. Выпадение или нарушение хотя бы одного элемента делает невозможным само решение двигательной задачи.</p>
<p>Главное звено техники — это наиболее важная решающая часть данного способа выполнения двигательной задачи (метание - финальное усилие).</p>
<p>Детали техники — это второстепенные особенности движения, не нарушающие основного механизма. Видоизменение деталей — основной путь индивидуализации техники.</p>
<p>Оздоровительные силы природы и гигиенические факторы как средства ФВ дополняют физические упражнения такими важными для ФВ воздей­ствиями, которыми сами ФУ не обладают.</p>
<p>Оздоровительные силы природы и гигиенические факторы как средства ФВ дополняют физические упражнения такими важными для ФВ воздей­ствиями, которыми сами ФУ не обладают.</p>
<ul>
    <li>солнечная радиация;</li>
    <li>свойства воздушной среды;</li>
    <li>свойства водной среды.</li>
</ul>
<p>Есть два пути использования естественных сил природы:</p>
<ul>
    <li>как сопутствующих условий занятий ФУ (занятия на открытом воздухе, в естественных водоемах), воздействие природных факторов сочетается с ФУ;</li>
    <li>организация специальных процедур закаливающего и оздоровительно-восстановительного характера.</li>
</ul>
<p>Требования к использованию природных и гигиенических факторов как средств ФВ:</p>
<ol>
    <li>Системное и комплексное применение естественных сил природы в сочетании с ФУ.</li>
    <li>Естественные факторы только тогда приобретают значение, когда их воздействие дозировано по продолжительности, силе, направленности, иначе — это лишь условие среды.</li>
    <li>При определении оптимальной дозы необходимо учитывать особен­ности занимающихся и характер педагогических задач.</li>
</ol>
<p>Гигиенические факторы представляют собой обширную группу раз­нообразных средств, условно разделяемых на две группы:</p>
<ul>
    <li>средства, обеспечивающие жизнедеятельность человека вне процесса ФВ (нормы личной гигиены, отдыха, питания);</li>
    <li>средства, включаемые в процесс ФВ: оптимизация режима нагрузки и отдыха; обеспечение рационального питания на дистанции; создание внешних условий для занятий ФУ (чистый воздух, освещенность, инвентарь, одежда); создание условий восстановления после занятий ФУ (массаж, баня, ультрафиолетовое облучение (УФО)).</li>
</ul>
<p>Гигиенические факторы способствуют реализации принципа оздорови­тельной направленности системы ФВ.</p>


</div>