<div>
 
    <h2>Игры в древней Олимпии</h2>

    <p> На земле Древней Греции близ селения Олимпия проводились состязания греческих атлетов, вошедшие в историю под названием Олимпийских игр.
    
    Наиболее ранние сведения об античных играх относятся к 776 г. до н. э. Олимпийский праздник проводился каждые четыре года в местечке Олимпия, где находился знаменитый храм Зевса и где были построены многочисленные гимназии и палестры для занятий физическими упражнениями, а также стадион с ипподромом. На время Олимпийских игр на всей территории Греции объявлялось священное перемирие. В античных Олимпийских играх соревновались и были зрителями только мужчины, причем лишь свободнорожденные греки. Рабы и иноземцы к играм не допускались. На первых Олимпийских играх атлеты состязались только в беге
    
    на дистанцию, составлявшую в нынешнем измерении 192,27 м. Эта дистанция называлась «стадий», от этого слова произошло название «стадион».
    
    В разные периоды времени в программу входили бег на различные дистанции, прыжки в длину, метание копья и диска, кулачный бой с борьбой («панкратион»), пятиборье и состязания на конных колесницах. Старт в беге давался по сигналу, и совершивший фальстарт подвергался наказанию. Бегуны пользовались на старте для упора ног специальной плитой (балбис). Каждый спортсмен бежал по отдельной дорожке, и для определения победителя устраивались предварительные и финальные забеги.
    
    Несколько своеобразно проводились прыжки в длину. Участники Олимпийских игр разбегались как в наше время, но прыгали, держа в руках гантели, вес которых, колебался от 1,5 до 4,5 кг. Греки метали копье и диск весом от 3 до 5,7 кг. Считается, что предшественником диска был плоский камень. Для удобства метания копья к древку прикреплялась кожаная петля (эмма).
    
    Всенародная популярность Олимпийских игр, высокие достижения, которые показывали атлеты, объяснялись всем строем жизни, системой физического воспитания, существовавшей в Древней Греции.
    
    Статуи победителя Олимпийских игр, именовавшегося «олимпионик», устанавливались в том городе, откуда он был родом, изображения чемпиона чеканили на монетах, в его честь слагались гимны.
    
    Наиболее прославленными из героев древних олимпийских состязаний были Леонидас с острова Родос, 12 раз побеждавший в беге, Гермоген из Ксанфа 8 побед, Астилос из Кротона  7 побед.
    
    Играми руководили «элланодики», одновременно выполнявшие роль
    
    и тренеров, и судей, а за ними следил Олимпийский совет. Порядок на играх поддерживали рабдохи - палочники. Атлетам запрещалось применять нечестные приемы в борьбе, наносить увечья, вступать в сговор с соперниками.
    
    На олимпийских празднествах поэты читали стихи, ораторы произносили речи в честь Игр. В программу входили и конкурсы искусств. В Олимпии выступали такие прославленные деятели культуры, как историк Геродот, философ Сократ, оратор Демосфен, математик Пифагор
    
    
    23 июня 1894 г.  исторический день: на Конгрессе было принято решение провести первые Олимпийские игры современности в 1896 г. на их родине  в столице Греции Афинах.</p>
   </div>
