
 <div class="cards">
    <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">  Тест физическая культура</h2>
          <p class="card__apply">
            <a class="card__link" routerLink="test1">Пройти<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-2">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">
            Тест олимпийские игры</h2>
          <p class="ca    rd__apply">
            <a class="card__link" routerLink="test2">Пройти <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
    <div class="card card-3">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Тест</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Пройти <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
    <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Тест</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Пройти <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
    <div class="card card-2">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Тест</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Пройти <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
    <div class="card card-3">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Тест</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Пройти <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
    <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Тест</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Пройти <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
    <div class="card card-2">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Тест</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Пройти <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
    <div class="card card-3">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Тест</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Пройти <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>

        
       
        </div>
    