<!-- <p>tests works!</p>
<form name="quiz" class="quiz" id="quiz" action="javascript:check();">
    <h5> Вопрос 1 </h5>
    <input name="vopros1" checked="checked" value="no" id="value1" type="radio"> Ответ 1 <br>
    <input name="vopros1" value="no" id="value2" type="radio"> Ответ 2 <br>
    <input name="vopros1" value="no" id="value3" type="radio"> Ответ 3 <br>
    <input name="vopros1" value="yes" id="value4" type="radio"> Ответ 4 <br>
    
    <h5> Вопрос 2 </h5>
    <input name="vopros2" checked="checked" value="no" id="value1" type="radio"> Ответ 1 <br>
    <input name="vopros2" value="no" id="value2" type="radio"> Ответ 2 <br>
    <input name="vopros2" value="no" id="value3" type="radio"> Ответ 3 <br>
    <input name="vopros2" value="yes" id="value4" type="radio"> Ответ 4 <br>
    
    <h5> Вопрос 3 </h5>
    <input name="vopros3" checked="checked" value="no" id="value1" type="radio"> Ответ 1 <br>
    <input name="vopros3" value="no" id="value2" type="radio"> Ответ 2 <br>
    <input name="vopros3" value="no" id="value3" type="radio"> Ответ 3 <br>
    <input name="vopros3" value="yes" id="value4" type="radio"> Ответ 4 <br>
    <br>
    <input value="submit" type="submit">
    <div id="isid"></div>
    </form>


    <script src="scripts.js" >
    </script> -->
    
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" routerLink="test1">Тест1</button>
    <button class="btn btn-primary" type="button" routerLink="test2">Тест2</button>
    <button class="btn btn-primary" type="button" routerLink="tema3">Тест3</button>
    <button class="btn btn-primary" type="button" routerLink="tema4">Тест4</button>
  </div>