
<div class="vopros" >
    <p>Техника владения мячом включает в себя один из следующих приемов:</p>
            
    <div class="var" onclick="this.style.background='red'"> остановки  </div>
    <div class="var" onclick="this.style.background='green'"> броски в корзину</div>
        <div class="var" onclick="this.style.background='red'">развороты</div>
    </div>
    
<div class="vopros" >
    <p>Технику передвижений в баскетболе составляет:</p>
            
        <div class="var" onclick="this.style.background='green'"> ходьба, бег</div>
        <div class="var" onclick="this.style.background='red'">ловлю  </div>
        <div class="var" onclick="this.style.background='red'">бросок мяча</div>
    </div>
    
<div class="vopros" >
    <p>Технику передвижений в баскетболе составляет:</p>
            
    <div class="var" onclick="this.style.background='red'">бросок мяча</div>
    <div class="var" onclick="this.style.background='red'"> броски в корзину</div>
    <div class="var" onclick="this.style.background='green'">прыжки</div>
    </div>
    
<div class="vopros" >
    <p>Технику передвижений в баскетболе составляет:</p>
            
    <div class="var" onclick="this.style.background='red'">передачи мяча</div>
    <div class="var" onclick="this.style.background='green'">повороты</div>
        <div class="var" onclick="this.style.background='red'"> броски в корзину</div>
    </div>
    
<div class="vopros" >
    <p> броски в корзину</p>
            
    <div class="var" onclick="this.style.background='red'">6</div>
    <div class="var" onclick="this.style.background='red'">10</div>
    <div class="var" onclick="this.style.background='green'">5</div>
    </div>
<div class="vopros" >
    <p>Из США баскетбол проник вначале в:</p>
            
    <div class="var" onclick="this.style.background='red'">Великобританию, Францию, Германию, Китай, Японию </div>
    <div class="var" onclick="this.style.background='green'">Китай, Японию, Филиппины</div>
        <div class="var" onclick="this.style.background='red'">Германию, Францию, Россию, Латвию, Южную Америку</div>
    </div>
<div class="vopros" >
    <p>Размеры баскетбольной площадки:</p>
            
    <div class="var" onclick="this.style.background='red'">12м. Х 24м.  </div>
    <div class="var" onclick="this.style.background='red'">9м. Х 18м.</div>
    <div class="var" onclick="this.style.background='green'">14м. Х 26м</div>
    </div>
<div class="vopros" >
    <p> На какой высоте находится баскетбольная корзина:</p>
            
    <div class="var" onclick="this.style.background='red'">300 см.  </div>
    <div class="var" onclick="this.style.background='green'"> 305 см</div>
        <div class="var" onclick="this.style.background='red'">260 см</div>
    </div>
<div class="vopros" >
    <p> Сколько времени может владеть команда мячом, до того как произвести бросок по кольцу:</p>
            
        <div class="var" onclick="this.style.background='green'">24 сек</div>
        <div class="var" onclick="this.style.background='red'">30 сек.  </div>
        <div class="var" onclick="this.style.background='red'">20 сек</div>
    </div>
<div class="vopros" >
    <p> Сколько шагов можно делать после ведения мяча:</p>
            
    <div class="var" onclick="this.style.background='red'">3 </div>
    <div class="var" onclick="this.style.background='green'">2</div>
        <div class="var" onclick="this.style.background='red'">4/div>
    </div>
    
    <a href="tests" class="green">Назад</a>
    