<a class="knopka" href="teoriya">Назад</a>
<div class="block">
<h1>Воспитание координационных способностей (кс)</h1>
<p>Двигательные КС — это способность человека к согласованию и сопод­чинению отдельных движений в единое двигательное действие.</p>
<p>Развитие КС позволяет организму человека более экономично расходо­вать энергетические ресурсы за счет точной дозировки движений во вре­мени, пространстве, по степени напряжения и расслабления мышц.</p>
<p>Факторы, определяющие развитие КС:</p>
<ul>
    <li>свойства анализаторов (зрительного, слухового, двигательного, вести­булярного);</li>
    <li>свойства высшей нервной деятельности (сила, подвижность, уравно­вешенность нервных процессов).</li>
</ul>
<p>КС преимущественно обусловлены центральными нервными влия­ниями (психофизиологическими механизмами управления и регуляции).</p>
<p>К общим КС относятся:</p>
<ol>
    <li>
        Дифференцировочная способность (т. е. способность человека к достижению высокой точности и экономичности движений):
        <ul>
            <li>пространственная дифференциация;</li>
            <li> временная дифференциация;</li>
            <li>силовая дифференциация.</li>
        </ul>
    </li>
    <li>
        Реагирующая способность (т. е. способность к быстрому началу движения в соответствии с определенным сигналом):
        <ul>
            <li>зрительная реакция;</li>
            <li> слуховая реакция;</li>
            <li>тактильная реакция.</li>
        </ul>
    </li>
    <li>
        Способность к сохранению равновесия, т. е. устойчивости положения тела:
        <ul>
            <li>сохранение статического равновесия (стойки в гимнастике);</li>
            <li> сохранение динамического равновесия (финты в спортивных играх).</li>
        </ul>
    </li>
    <li> Ориентационная способность, т. е. способность к определению положения тела в пространстве и во времени.</li>
    <li>Ритмическая способность, т.е. способность к формированию правильной последовательности движений с выраженными акцентами.</li>
    <li>
        Способность к переключению движений:
        <ul>
            <li>переключение в соответствии с заданной программой (гимнастика, фигурное катание);</li>
            <li>переключение ситуативным образом.</li>
        </ul>
    </li>
</ol>
<h1>Основы воспитания силовых способностей</h1>
<p>Силовые способности — это разновидность физических способностей человека, которая определяет возможность осуществления на высоком уровне противодействия сопротивлениям посредством мышечных усилий.</p>
<p>Виды силовых способностей:</p>
<ul>
    <li>собственно силовые способности — наивысшие возможности, которые способен проявить человек при максимальном произвольном мышечном сокращении (жим штанги);</li>
    <li>скоростно-силовые способности — способность преодолевать сопро­тивление с высокой скоростью мышечного сокращения (толчок, метания, прыжки);</li>
    <li> силовая выносливость — способность выполнять действие длительное время с непредельным отягощением (отжимания, приседания, подтягивания).</li>
</ul>
<p>В литературе выделяются такие понятия, как абсолютная сила (сила, проявляемая безотносительно к собственному весу человека) и относитель­ная сила (сила, проявляемая человеком с учетом его веса). Исходя из этого, у людей с одинаковыми показателями абсолютной силы, но с разным весом, первые показатели с повышением веса будут увеличиваться, а показатели относительной силы — падать.</p>
<p>Режимы проявления силы:</p>
<ol>
    <li>
        динамический — сокращение и расслабление мышцы, т.е. изменение длины мышечных волокон:
        <ul>
            <li>
                преодолевающий (миометрический) — происходит увеличение диаметра и уменьшение длины мышцы;
            </li>
            <li>
                уступающий (плиометрический) — происходит уменьшение диаметра мышцы и увеличение ее длины (ударные упражнения - спрыгивание с высоты);
            </li>
        </ul>
    </li>
    <li>
        статический (изометрический) — напряжение происходит за счет во­левой регуляции без изменения диаметра и длины мышцы.
    </li>
</ol>
<p>Факторы, определяющие уровень развития силовых способностей:</p>
<ul>
    <li>тип мышечного волокна (строение мышечных волокон наследственно предопределено);</li>
    <li>величина поперечника мышечного волокна - чем толще мышечное волокно, тем больше проявляемая сила;</li>
    <li>мышечная масса;</li>
    <li>центрально-нервные факторы: внутримышечная координация (частота импульсов, синхронизация мышечных сокращений), межмышечная коорди­нация (согласованная работа мышц);</li>
    <li>степень волевого усилия;</li>
    <li>мощность анаэробного энергообеспечения;</li>
    <li>тип телосложения человека (наибольшее проявление абсолютной силы у ширококостного - гипертимного типа).</li>
</ul>
<p>Сенситивные периоды развития силы. Рост силы мышц отно­сительно незначителен до 10 - 11 лет, но с 12 до 15 лет темп её значительно возрастает, У мальчиков самые благоприятные периоды в развитии силы от 13 -14 до 17-18 лет, у девочек от 11-12 до 15 - 16 лет. За период обучения в школе абсолютная сила увеличивается от 200 до 500%, а относительная сила увеличивается в меньшей степени: у мальчиков — на 200% у девочек — до 150%. Наибольшие величины силовых проявлений регистрируют в 20 -30 лет.</p>
<p>Средства развития силовых способностей</p>
<p>Основное средство развития силы - силовое упражнение. Силовое уп­ражнение — это вид физического упражнения, в котором используется повы­шенное отягощение или сопротивление.</p>
<p>Классификация силовых упражнений:</p>
<ul>
    <li>силовые упражнения с внешним отягощением, которые в свою очередь подразделяются на:
     <ul>
        <li>упражнения со строгим дозированием отягощения (гантели, гири, штан­ги, тренажеры);</li>
        <li>упражнения с нестрогим дозированием отягощений (противодействие партнера, использование сопротивления упругих материалов, сопротивления внешней среды);</li>
        <li>упражнения с использованием отягощения весом собственного тела (отжимания, подтягивания, приседания, прыжки);</li>
        <li>статические силовые упражнения.</li>
     </ul>
    </li>
</ul>
<p>С позиций избирательности воздействия силовых упражнений их классифицируют на: глобальные (более 70 % мышечных групп); региональные (в работе участвуют одна или несколько мышечных групп); локальные (упраж­нения местного воздействия на отдельные мышцы).</p>
<p>Общая характеристика силовой нагрузки.</p>
<ol>
    <li>
        Виды интенсивности:
        <ul>
            <li> малая — 30 - 50 % от максимальной;</li>
            <li>средняя — 50 – 75 % от максимальной;</li>
            <li>субмаксимальная — 75 - 90 % от максимальной;</li>
            <li>максимальная — 90 - 100 % от максимальной.</li>
        </ul>
    </li>
    <li>
        Число повторений:
        <ul>
            <li>большое число — 15 - 20 и более (работа на уменьшение веса, рельеф);</li>
            <li>среднее число повторений — 8 - 12 (для развития мышечной массы);</li>
            <li>малое число повторений — от 4-5 до 1 - 2 - максимальный прирост силы (прирост силы — за счет центрально-нервного фактора).</li>
        </ul>
    </li>
    <li>
        Темп выполнения силовых упражнений:
        <ul>
            <li>максимальный темп — используется при малых отягощениях для сгонки веса, при средних и больших отягощениях для развития "взрывной силы";</li>
            <li>средний — используется для развития силы; в оздоровительных трени­ровках;</li>
            <li> медленный — используется в работе на рельеф мускулатуры, после травмы, для максимального вовлечения мышечных волокон в работу.</li>
        </ul>
    </li>
</ol>









</div>