<a class="knopka" href="teoriya">Назад</a>

<div class="block">
    <h1 class="name">Характеристика общей культуры общества и места в ней физической культуры (фк)</h1>
<p>
    Существует несколько определений понятия "физическая куль­тура", это связано с тем, что нет единства в понимании родового понятия "культура".
</p>
<ul>
    <li>материальную культуру — характеризует предметно-вещественную сторону деятельности человека и общества;</li>
    <li>социально-политическую культуру — характеризует регулятивные основы деятельности человека, социальные нормы, правовые законы и т.д.;</li>
    <li>духовную культуру — связана с идеальной стороной человеческой дея­тельности: знания, убеждения, потребности, мотивы и др.</li>
</ul>
<p>
    Все эти типы культур не существуют в чистом виде, так как они тесно взаимос­вязаны. ФК по преимуществу входит в состав материальной культуры общества, но в то же время, содержит в себе, в меньшей степени, элементы духовной и политической культуры. Таким образом, под физической культурой следует понимать вид материальной культуры, характеризующий степень достижения физического совершенства обществом в целом и человеком в частности.
</p>
<h1 class="name">Основные категории теории физической культуры (тфк)</h1>
<p>Под категориями понимают наиболее общие, фундаментальные по­нятия. Понятия — это мысленное отражение общих, существенных и устой­чивых признаков явлений и предметов. Таким образом, с помощью категорий отражены наиболее существенные и общие признаки физической культуры. Последовательное развертывание содержания понятий позволяет нам выработать систему категорий ТФК .
</p>
<div> <img src="https://studfile.net/html/2706/54/html_ouzqRuke0n.uiXb/img-KYqJjk.png" ></div>
<ul>
    <li>Физическое развитие — это комплекс изменений организма человека, характеризующийся определенной направленностью. Направленность может быть прогрессивной и регрессивной.</li>
    <li>Физическое формирование — наиболее общее понятие, характеризу­ющее процесс воздействия социальной среды на процесс физического разви­тия человека. Оно может быть стихийное (некультурное) и целенаправленное.</li>
    <li>Физкультурная деятельность — это разнообразная активность человека или социальной группы, носящая целесообразный характер и целенап­равленно способствующая достижению физического совершенства.</li>
    <li>Физическое воспитание — целенаправленное воздействие социальной среды на человека с целью формирования у него потребностно-мотивационной основы физкультурной деятельности (ФКД).</li>
    <li>Физическое образование — целенаправленное воздействие социальной среды на человека с целью формирования у него способностей к ФКД.</li>
    <li>Оздоровительный спорт (массовый, народный, "спорт для всех") — это пограничный между спортом и физической культурой социальный феномен, сущность которого составляет оздоровление через физкультурную состязательную деятель­ность.</li>
    <li>Физическое совершенство (ядро понятий ФК) — это результат физкуль­турной деятельности, представляющий собой всестороннее и гармоничное единство совершенной биологической природы человека и сформированных у него соответствующих социальных и психических качеств и свойств.</li>
</ul>
<h1 class="name">Общая характеристика системы физического воспитания</h1>
<p>
    Понятием "система" пользуются, когда имеют в виду нечто целое, пред­ставляющее собой единство закономерно расположенных и находящихся во взаимной связи частей. Именно таким целостным образованием является система ФВ (СФВ). Система ФВ представляет собой способ организации практики ФВ, её исходные основы и определяющие стороны, объединенные в целостную структуру.
</p>
<p> Система ФВ — это исторически обусловленный тип социальной прак­тики физического совершенствования человека, подготовки его к деятель­ности в интересах общества. В связи с этим объектом системы является че­ловек, а ее предметом — развитие его физических и духовных способностей. </p>

<p> Общей целью СФВ является формирование всесторонне развитой лич­ности, сочетающей в себе духовное богатство, нравственную чистоту, физи­ческое совершенство. </p>
    
<p> Постановка цели является всегда первым начальным этапом деятель­ности человека. Цель реализуется через комплекс задач. Задача вытекает из поставленной цели и конкретизирует саму цель, ибо цель обычно формули­руется в обобщенной форме. Исходя из целевых установок, ставятся общие задачи. Общие задачи определяются в долговременном аспекте, частные за­дачи ставятся на определенное время (на одно занятие, месяц, четверть, полу­годие, год). </p>
<p> Для достижения цели в ФВ предполагается решение основных групп задач: образовательных, развивающих, оздоровительных, воспи­тательных.</p>

<p>Образовательные задачи. Образовательные задачи нацелены на форми­рование основ знаний по ФКиС, а также основ техники жизненно важных двигательных умений и навыков. </p>
    
<p>Например, в школьном возрасте наиболее ответственной образова­тельной задачей является создание так называемой "школы движений", вклю­чающей формирование и совершенствование жизненно важных умений и навыков в ходьбе, беге, прыжках, метаниях, лазании, перелезании и т. д. </p>
    
<p>Развивающие задачи. Физическая работоспособность человека во мно­гом определяется уровнем развития физических качеств (силы, быстроты, выносливости, гибкости). Развитие физических качеств является одной из групп задач ФВ. </p>
 <p>Оздоровительные задачи. Для укрепления здоровья человека исполь­зуются следующие частные задачи: </p>
    <ul>
        <li> укрепление и формирование опорно-двигательного аппарата;</li>
        <li>укрепление и сохранение зрения;</li>
        <li>повышение защитных функций организма;</li>
        <li>поддержание оптимального уровня здоровья;</li>
        <li>соблюдение правил личной гигиены человека.</li>
    </ul>
<p>Для этого предусмотрен комплекс различных мер: с учетом состояния здоровья давать и регулировать нагрузку; включать в занятия упражнения циклического характера, для тренировки сердечно-сосудистой и дыхательной систем; постоянно, совместно с врачом, следить за состоянием и динамикой здоровья занимающихся; соблюдать гигиену мест занятий, инвентаря, осу­ществлять страховку; использовать оздоровительные силы природы, гигие­нические факторы; использовать самоконтроль занимающихся ФК.</p>
<p>Воспитательные задачи характеризуются развитием личностных качеств человека. Выделяют следующие воспитательные задачи:</p>
<ul>
    <li>воспитывать нравственные качества и поступки человека (уважение, терпение и др.);</li>
    <li>содействовать развитию интеллекта и психомоторных функций;</li>
    <li>формировать потребности и интересы к ФКиС;</li>
    <li>содействовать самосовершенствованию личности в процессе занятий ФКиС.</li>
</ul>


</div>