
<div class="vopros" >
    <p>Одной из задач обучения технике прыжка с шестом является обучение технике:</p>
            
        <div class="var" onclick="this.style.background='green'">перехода через планку и приземлению</div>
        <div class="var" onclick="this.style.background='red'">падения</div>
        <div class="var" onclick="this.style.background='red'">владения шестом</div>
    </div>
    

<div class="vopros" >
    <p>Формы занятий по легкой атлетике можно условно разделить на:</p>
            
    <div class="var" onclick="this.style.background='red'"> главные и второстепенные </div>
    <div class="var" onclick="this.style.background='green'">основные и эпизодические</div>
        <div class="var" onclick="this.style.background='red'"> учебные и неучебные</div>
    </div>
    

<div class="vopros" >
    <p> По характеру соревнования в легкой атлетике подразделяются на:</p>
            
    <div class="var" onclick="this.style.background='red'">отборочные и квалификационные</div>
    <div class="var" onclick="this.style.background='red'">первенства и чемпионаты</div>
    <div class="var" onclick="this.style.background='green'">личные, командные и лично-командные</div>
    </div>
    

<div class="vopros" >
    <p>Толкание ядра – вид спорта, который проводится:</p>
            
        <div class="var" onclick="this.style.background='green'"> на стадионе и в манеже</div>
        <div class="var" onclick="this.style.background='red'">только в манеже</div>
        <div class="var" onclick="this.style.background='red'">только на стадионе</div>
    </div>
    
<div class="vopros" >
    <p>Основу классификации видов спорта в легкой атлетике составляют:</p>
            
    <div class="var" onclick="this.style.background='red'">бег, прыжки, метания, марафонские дистанции  </div>
    <div class="var" onclick="this.style.background='red'">беговые виды, прыжковые, метания и многоборья</div>
    <div class="var" onclick="this.style.background='green'"> ходьба, бег, прыжки, метания и многоборья</div>
    </div>
    
<div class="vopros" >
    <p>Начиная с 1924 г., для постановки шеста в прыжках в высоту использовали:</p>
            
    <div class="var" onclick="this.style.background='red'"> металлические упоры </div>
    <div class="var" onclick="this.style.background='green'"> специальный ящик</div>
        <div class="var" onclick="this.style.background='red'"> земляные ямки</div>
    </div>
    
<div class="vopros" >
    <p>Впервые результат в 17 м в тройном прыжке преодолел:</p>
            
    <div class="var" onclick="this.style.background='red'"> Бимон в 1970 г. </div>
    <div class="var" onclick="this.style.background='red'">Тадзима в 1936 г.</div>
    <div class="var" onclick="this.style.background='green'">Шмидт в 1960 г</div>
    </div>
    
<div class="vopros" >
    <p>Первый официально зарегистрированный в 1864 г. результат по прыжкам в высоту равнялся … см:</p>
            
        <div class="var" onclick="this.style.background='green'"> 167</div>
        <div class="var" onclick="this.style.background='red'">169 </div>
        <div class="var" onclick="this.style.background='red'">171</div>
    </div>
    
<div class="vopros" >
    <p>Отталкивание в прыжках с шестом, в отличие от других прыжков, выполняется … движений(ями) рук:</p>
            
    <div class="var" onclick="this.style.background='red'"> стопорными  </div>
    <div class="var" onclick="this.style.background='red'"> маховыми</div>
    <div class="var" onclick="this.style.background='green'"> без маховых</div>
    </div>
    
<div class="vopros" >
    <p>Изменения в технике движений зависят, в том числе и от:</p>
            
    <div class="var" onclick="this.style.background='red'">погодных условий</div>
    <div class="var" onclick="this.style.background='green'"> психологических особенностей спортсмена</div>
        <div class="var" onclick="this.style.background='red'"> условий проведения соревнований</div>
    </div>
    

    
    <a href="tests" class="green">Назад</a>
    