  <div class="cards">
    <div class="card card-3">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title"> Культурно-исторические основы физической культуры и спорта</h2>
      <p class="card__apply">
        <a class="card__link" routerLink="tema3">Изучать <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Олимпийское движение</h2>
          <p class="card__apply">
            <a class="card__link" routerLink="tema1">Изучать<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-2">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">
            Средства физического воспитания</h2>
          <p class="ca    rd__apply">
            <a class="card__link" routerLink="tema2">Изучать <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-4">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Методы физического воспитания</h2>
          <p class="ca    rd__apply">
            <a class="card__link" routerLink="tema4">Изучать <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-5">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Обучение двигательным действиям</h2>
          <p class="ca    rd__apply">
            <a class="card__link" routerLink="tema5">Изучать <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-6">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Основы воспитания двигательных способностей</h2>
          <p class="ca    rd__apply">
            <a class="card__link" routerLink="tema6">Изучать<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        </div>
    