  <div class="cards">
    <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Игры в древней Олимпии</h2>
          <p class="card__apply">
            <a class="card__link" routerLink="tema1">Изучать<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-2">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">
            Современные олимпийские игры</h2>
          <p class="ca    rd__apply">
            <a class="card__link" routerLink="tema2">Изучать <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
    <div class="card card-3">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">тема3</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-4">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Темa4</h2>
          <p class="ca    rd__apply">
            <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        </div>
    