<!-- <div>
    <h1></h1>
    <div class="one">
      <ul>
        <li><a href="">Элемент</a></li>
        <li><a href="">Элемент</a></li>
        <li><a href="">Элемент</a></li>
        <li><a href="">Элемент</a></li>
      </ul>
    </div>
    <div class="two">
        <ul>
            <li><a href="">Элемент</a></li>
            <li><a href="">Элемент</a></li>
            <li><a href="">Элемент</a></li>
            <li><a href="">Элемент</a></li>
          </ul>
    </div>
</div> -->
<h1>Практический тур</h1>
<div class="cards">
<div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Гимнастика</h2>
      <p class="card__apply">
        <a class="card__link" routerLink="gimnastika">Перейти <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-2">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Спортивные игры</h2>
      <p class="ca    rd__apply">
        <a class="card__link" routerLink="igri">Перейти<i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    </div>
