  
<body>
    
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
    </symbol>
  </svg>
  
  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
         
          <span class="fs-4"></span>
        </a>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="" >Главная</a>
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="dop-inf" >Варианты прошлых лет</a>
          <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="oproekte">О проекте</a> -->
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Контакты</a>
        </nav>
      </div>
  
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      
      
      </div>
    </header>
  
    
      </div>
<router-outlet></router-outlet>