
<!-- <nav>
<ul >
  <li >
    <a  routerLink="">Главная</a>
  </li>
  <li >
    <a   >Теория</a>
     <ul >
      <li><a routerLink="tema1">Тема1</a></li>
      <li><a routerLink="tema2">Тема2</a></li>
      <li><a routerLink="tema3">Тема3</a></li>
      <li><a routerLink="tema4">Тема4></a></li>
    </ul> -->
  <!-- </li>
  <li >
    <a >Тесты</a> -->
    <!-- <ul >
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li><hr ></li>
  
    </ul> -->
  <!-- </li>
  <li >
    <a role="button">Варианты прошлых лет</a> -->
    <!-- <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul> -->
  <!-- </li>
</ul>
</nav> --> 
<!-- <body>
  
  <div class="wrapper">
    <ul class="main-menu">
    <li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-6">
      <a  routerLink="">Главная</a></li>
  <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16">
    Теория
    <ul class="sub-menu">
      <li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7">
        <a routerLink="tema1">SТема1</a></li>
      <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
        <a routerLink="tema2">Тема2</a></li>
      <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
        <a routerLink="tema3">Тема3</a></li>
    </ul>
  </li>
  <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
    <a routerLink='dop-inf'>Варианты прошлых лет</a></li>
  <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-15">
    Тесты
    <ul class="sub-menu">
      <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
        <a routerLink="test1">Тест1</a></li>
      <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
        <a routerLink="test2">Тест2</a></li>
    </ul>
  </li>
  </ul></div>

  
</body> -->

    
<body>
    
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
    </symbol>
  </svg>
  
  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
         
          <span class="fs-4"></span>
        </a>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="" >Главная</a>
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="dop-inf" >Варианты прошлых лет</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="oproekte">О проекте</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Контакты</a>
        </nav>
      </div>
  
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      
      
      </div>
    </header>
  
    
      </div>
<router-outlet></router-outlet>