<div class="vopros" >
    <p>  В спорте выделяют:</p>
            
        <div class="var" onclick="this.style.background='green'">Инвалидный, массовый, детский, юношеский, высших достижений.</div>
        <div class="var" onclick="this.style.background='red'">Олимпийский, дворовый, любительский.  </div>
        <div class="var" onclick="this.style.background='red'">Любительский, профессиональный, массовый.</div>
    </div>
    
<div class="vopros" >
    <p>Спорт это:</p>
            
        <div class="var" onclick="this.style.background='red'">Диета, упражнения, правильное дыхание.</div>
        <div class="var" onclick="this.style.background='red'"> Физические упражнения и тренировки. </div>
        <div class="var" onclick="this.style.background='green'">Диета, упражнения, правильное дыхание. Деятельность, проводимая в соответствии с некоторыми правилами, состоящая в честном сопоставлении сил и способностей участников.</div>
    </div>
    
<div class="vopros" >
    <p> Отличительным признаком физической культуры является:</p>
            
        <div class="var" onclick="this.style.background='green'">Правильно организованный и воспроизводимый алгоритм движений.</div>
        <div class="var" onclick="this.style.background='red'">Использование природных сил для восстановления организма.  </div>
        <div class="var" onclick="this.style.background='red'">Стабильно высокие результаты, получаемые на тренировках.</div>
    </div>
    
<div class="vopros" >
    <p>Следует ли после длительной болезни приступать к разучиванию сложных гимнастических упражнений?</p>
            
    <div class="var" onclick="this.style.background='red'">Да, в малом темпе.   </div>
    <div class="var" onclick="this.style.background='green'">Нет.</div>
        <div class="var" onclick="this.style.background='red'">Да, под присмотром тренера.</div>
    </div>
    
<div class="vopros" >
    <p>Физическая культура представляет собой:</p>
            
        <div class="var" onclick="this.style.background='green'">Определенную часть культуры человека.</div>
        <div class="var" onclick="this.style.background='red'">Учебную активность.  </div>
        <div class="var" onclick="this.style.background='red'">Культуру здорового духа и тела.</div>
    </div>
    
<div class="vopros" >
    <p>Под физической культурой понимается:</p>
            
    <div class="var" onclick="this.style.background='red'">Воспитание любви к физической активности.</div>
    <div class="var" onclick="this.style.background='red'">Система нагрузок и упражнений.</div>
    <div class="var" onclick="this.style.background='green'"> Некоторый фрагмент деятельности человеческого общества.</div>
    </div>
    
<div class="vopros" >
    <p>Возможности человека, обеспечивающие ему выполнение двигательных действий, называются:</p>
            
        <div class="var" onclick="this.style.background='green'">Скоростная способность.</div>
        <div class="var" onclick="this.style.background='red'"> Двигательный рефлекс.</div>
        <div class="var" onclick="this.style.background='red'">Физическая возможность.</div>
    </div>
    
<div class="vopros" >
    <p>Эффект физических упражнений определяется, прежде всего:</p>
            
        <div class="var" onclick="this.style.background='green'">Их содержанием.</div>
        <div class="var" onclick="this.style.background='red'"> Их формой </div>
        <div class="var" onclick="this.style.background='red'">Скоростью их выполнения.</div>
    </div>
    
<div class="vopros" >
    <p>Разновидность аэробики, особенностью которой является использование специальной платформы, называется:</p>
            
    <div class="var" onclick="this.style.background='red'">Боди-балет.   </div>
    <div class="var" onclick="this.style.background='green'">Степ-аэробитка.</div>
        <div class="var" onclick="this.style.background='red'">Пилатес.</div>
    </div>
    
<div class="vopros" >
    <p> Какие размеры теннисного стола указаны правильно?</p>
            
    <div class="var" onclick="this.style.background='red'">Длина-2740 мм., ширина-1525 мм., высота-760 мм.  </div>
    <div class="var" onclick="this.style.background='green'">Длина-2940 мм., ширина-1425 мм., высота-820 мм.</div>
        <div class="var" onclick="this.style.background='red'">Длина-2540 мм., ширина-1625 мм., высота-720 мм.</div>
    </div>
    
    <a href="tests" class="green">Назад</a>
    