<a class="knopka" href="teoriya">Назад</a>
<div class="block">
    <h1>Обучение двигательным действиям (одд)</h1>
  <p>Обучение двигательным действиям (ОДД) — процесс передачи и усвоения знаний о двигательных действиях, а также формирование на их основе двигательных умений и навыков.</p>  
  <p>Цель ОДД — формирование культуры движений у занимающихся.</p>  
  <p>Наиболее общими задачами ОДД является формирование: школы движений; спортивных двигательных действий; бытовых двигательных действий.</p>  
  <p>Двигательная деятельность — регулируемая сознанием человека дви­гательная активность, направленная на достижение определенной цели. Сос­тавными частями этой деятельности являются двигательные действия.</p>  
  <p>В зависимости от степени овладения двигательным действием различают усвоение материала на уровнях двигательного умения и навыка.</p>  
  <p>Двигательное умение — это такой уровень владения двигательным дей­ствием, который характеризуется преимущественной направленностью кон­троля на содержание изучаемого движения. Отсюда основными характер­истиками двигательного умения являются: неавтоматизированность, т. е. концентрация сознания на контроле за выполнением элементов ДД; нестабильность способа выполнения данного движения; развернутая, т.е. подробная ориентировочная основа ДД; невысокая скорость выполнения движения; непрочное запоминание усвоенного материала.</p>  
  <p>Двигательный навык — это уровень владения двигательным действием, при котором контроль будет преимущественно направлен не на само содер­жание изучаемого движения, а на условия его выполнения.</p>  
  <p>Для двигательного навыка будут характерны: сжатая ориентировочная основа, автоматизированность, стабильность; целостность и прочность усвоения ДД.</p>  
  <p>Этапы обучения двигательным действиям:</p>  
<ul>
    <li>1 этап — начального разучивания ДД;</li>
    <li> 2 этап — углубленного разучивания ДД;</li>
    <li>3 этап — закрепления ДД;</li>
    <li>4 этап — совершенствования ДД.</li>
</ul>
</div>
