<h1>Варианты прошлых лет</h1>
    
<div class="nav">
    <p>Перейти к :</p>
    <ul class="navig">
        <li><a class="year" href="/dop-inf/#year22">2021-2022</a></li>
        <li><a class="year" href="/dop-inf/#year21">2020-2021</a></li>
        <li><a class="year" href="/dop-inf/#year20">2019-2020</a></li>
        <li><a class="year" href="/dop-inf/#year19">2018-2019</a></li>
    </ul>
</div>
<hr/>
<div class="block">
    <p id="year22"> 2021-2022</p>
    <ul>
        <li><b> Школьный этап:</b>
            <ul>
                <ul>
                    <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1fPQ-9-aaHe7M24IK7A3hB181kkN6fenH/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1dMl8MAOS1XIq83m99UDfbTbsD653v6PR/view?usp=sharing">ответы</a> </li>
                    <li>Практика: 
                        <ul>
                            <li>
                                Гимнастика: <a target="_blank" href="https://drive.google.com/file/d/1GCBy5LoRAJlx4WQzrI_ncdCFQm2wtRTx/view?usp=sharing">задания </a>;<a target="_blank" href="https://youtu.be/FhSc3kOWzUE">видеоразбор (девушки) </a>;<a target="_blank" href="https://youtu.be/aP5yV2o0tO4">видеоразбор (юноши) </a>;
                            </li>
                            <li>
                                Спортивные игры:<a target="_blank" href="https://drive.google.com/file/d/1jm2XeAYNw7JNcx4VIi5H39m-rkkdDDUJ/view?usp=sharing">задания </a>;<a target="_blank" href="https://www.youtube.com/watch?v=cBrw6XZMkSQ">видеоразбор</a>
                            </li>
                        </ul>
                </ul>
            </ul>

        </li>
        <li><b> Муниципальный этап:</b>
            <ul>
                <ul>
                    <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1qIx_19GkrWpUcplRCmt9W4WyPz3Sac8W/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1-pLHdOYcf59TJUKyJ2JWzNwzZr7XVW4W/view?usp=sharing">ответы</a> </li>
                    <li>Практика: 
                        <ul>
                            <li>
                                Гимнастика: <a target="_blank" href="https://drive.google.com/file/d/1uNm_1Jq2L9ykkmZVgJEOOLu9OppSOb-L/view?usp=sharing">задания </a>;<a target="_blank" href="https://youtu.be/7xsyw3we_D4">видеоразбор (девушки) </a>;<a target="_blank" href="https://youtu.be/cql3YODmL7o">видеоразбор (юноши) </a>;
                            </li>
                            <li>
                                Спортивные игры:<a target="_blank" href="https://drive.google.com/file/d/1fwbYBVNf-M_aXHsWx-XGqtH7XFw3olC6/view?usp=sharing">задания </a>;<a target="_blank" href="https://youtu.be/pKJqYyjoOeQ">видеоразбор</a>
                            </li>
                        </ul>
                </ul>
            </ul>
        </li>
        <li><b> Региональный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1pPPy0Ed5YXCAXApnFHAOTBvNv1ENBH3q/view?usp=sharing"> задания</a>и <a  target="_blank" href="https://drive.google.com/file/d/1K86s2luzsjU1hEXaGeLBQ4Lhg1XHY3m-/view?usp=sharing">ответы </a></li>
                <li>Практика:<a  target="_blank" href="https://drive.google.com/file/d/11HmnqRgwpWUBcktqHQ3OuWqsuhSnyQD5/view?usp=sharing"> задания </a>и <a target="_blank"  href="">видио</a> </li>
            </ul>

        </li>
        <li><b> Заключительный этап:</b>
            <ul>
                    <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/16kUGBwx8-Jky5wx5OOvJs2Vewigejeky/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1XwXpMwzyhQaroCLfSsfCu4blITfLSENe/view?usp=sharing">ответы</a> </li>
                 
                <li>Практика:<a target="_blank" href="https://drive.google.com/file/d/1UvQ0JzWzd9FbwHd2CFmFKy4RhAgA9Bw9/view?usp=sharing"> задания и критерии </a></li>
            </ul>

        </li>
    </ul>
</div>
<hr>
<div class="block">
    <p id="year21"> 2020-2021</p>
    <ul>
        <li><b> Школьный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1JI15WDC95GSfdVGaolwAbJ_w0QD-bVYH/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1MyjFUfwC5JXrKAvYoO_wGmJkL4OsBfG8/view?usp=sharing">ответы</a> </li>
            </ul>
        </li>
        <li><b> Муниципальный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1m3gAPxdJn3BrDk7LcA7-fxgIcqSJ8Fq8/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1gcnMpSLgH4wPmw_AVu47_Jqzlv550zTh/view?usp=sharing">ответы</a> </li>
            </ul>
        </li>
        <li><b> Региональный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1pGBz1r2Zo16zt1kClSqITZ7uWqnn93JY/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/11TKcIS_DCvSPZGeTof7Fi6uex0p3Pxu5/view?usp=sharing">ответы</a> </li>
                <li>Практика:<a target="_blank" href="https://drive.google.com/file/d/1snPuQOjRM-8bicUnmZsshhtiKENB5WQO/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1w7F2y-Xlxh0Y77ifALDo8sGxCjnbOBib/view?usp=sharing">критерии </a>  </li>      
            </ul>
        </li>
    </ul>
</div>
<hr>

<div class="block">
    <p id="year20"> 2019-2020</p>
    <ul>
        <li><b> Школьный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1qeFZ7tSN06oxvzVTHD7YLyrJtP9gf3DX/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1vwrPMN7jdrziL134-jnluTSI2rsWoLYf/view?usp=sharing">ответы</a> </li>
                <li>Практика: 
                    <ul>
                        <li>
                            Гимнастика: <a target="_blank" href="https://drive.google.com/file/d/1xAcF6-Cudv282_IGoyXfGCJdveq55_Ew/view?usp=sharing">задания </a>;<a target="_blank" href="https://youtu.be/imcOYnzRv7g">видеоразбор (девушки) </a>;<a target="_blank" href="https://youtu.be/QcmOa1_FFEA">видеоразбор (юноши) </a>;
                        </li>
                        <li>
                            Спортивные игры:<a target="_blank" href="https://drive.google.com/file/d/1xAcF6-Cudv282_IGoyXfGCJdveq55_Ew/view?usp=sharing">задания </a>;<a target="_blank" href="https://youtu.be/3Q-uNgHOGI4">видеоразбор</a>
                        </li> 
                    </ul>
                 </li>
             </ul>
        <li><b> Муниципальный этап:</b>
            <ul>
              
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1e353cBvSHWP0gNFFXNnxR1bxPdKXWGIs/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/145Eac8NhbtfsgbXP_EnHv9fNhk2gXHKr/view?usp=sharing">ответы</a> </li>
                <li>Практика:
                    <ul>
                        <li>
                            Гимнастика:<a target="_blank" href="https://youtu.be/celGA8iPhVI">видеоразбор (девушки) </a>;<a target="_blank" href="https://youtu.be/_iqvgcdvSmI">видеоразбор (юноши) </a>;
                        </li>
                        <li>
                            Спортивные игры:<a target="_blank" href="https://drive.google.com/file/d/1qIEwPAC6JKId_lpPPVU24uOSKh52rpus/view?usp=sharing">задания </a>;<a target="_blank" href="https://youtu.be/hkJwqffyXEI">видеоразбор</a>
                        </li> 
                    </ul>
                </li>
           
            </ul>
            
        </li>
        <li><b> Региональный этап:</b>
            <ul>
                
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1vh1pT29FjRvDRGc7nn_mPlnkvEqUzmS0/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1dZBBUOmvHdzBFGntU7nJ__2gMt6q1wPM/view?usp=sharing">ответы</a> </li>
                <li>Практика:<a target="_blank" href="https://drive.google.com/file/d/1doEjyJw7C8-hIV-Nj9ke65xOp9KykC5-/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1kmFpLpzzwqSVAFR6H-gXcITyH23BiiJ6/view?usp=sharing">критерии</a>  </li>
                
            </ul>      
        </li>
    </ul>
</div>

<hr>
<div class="block">
    <p id="year19"> 2018-2019</p>
    <ul>
        <li><b> Школьный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1BI3yYOYyLhY5IVE61igT5H2nheK0ZvY_/view?usp=sharing">ответы</a> </li>
            </ul>
        </li>
        <li><b> Муниципальный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1dmeOt6g0heQhTtL_2Bg7fchUCJawHPnj/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1Tc1vmZCXiL3Fvsms_wVdR49HeZMcudUa/view?usp=sharing">ответы</a> </li>
                <li>Практика: <a target="_blank" href="https://drive.google.com/file/d/1_VtU_IymOzEGMovRF5DFw600zR_COmIP/view?usp=sharing">спортивные игры</a> и <a target="_blank" href="https://drive.google.com/file/d/1GipJFRgOWhVzilfh1Tf6aZgQ7y436O6k/view?usp=sharing"> гимнастика</a></li>
            </ul>
        </li>
        <li><b> Региональный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1zg3WKdVIrdv0mfXdGZqCoeCVl6L_piu5/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1QJC3tRlp6ucuuq85HSV29LLqiaa6fn6D/view?usp=sharing">ответы</a> </li>
                <li>Практика:<a target="_blank" href="https://drive.google.com/file/d/1nSvLDAUQpJo1tD7J4nxUg-xxfJXK7qPM/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1g0C3DDw5N5QbSbnPRYdytZVTyEDcfIk6/view?usp=sharing">критерии </a>  </li>      
            </ul>
        </li>
        <li><b> Заключительный этап:</b>
            <ul>
                <li>Теория:<a target="_blank" href="https://drive.google.com/file/d/1fOM2BDxEEuX7blql6b0By2QY98jA0E7A/view?usp=sharing"> задания</a> и <a target="_blank" href="https://drive.google.com/file/d/1r4YW_WfHawJl0PiQRaGQct9tDkE0F0Kn/view?usp=sharing">ответы</a> </li>
                <li>Практика:<a target="_blank" href="https://drive.google.com/file/d/1dBRPxgrT1piMDfndPTo-mAE4GzNHaQtv/view?usp=sharing"> задания</a>  </li>      
            </ul>
        </li>
    </ul>
</div>
<hr>