<body>
  <h1>Спортивные игры</h1>
  
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Баскетбол</h3>
        <p>Передвижение без мяча в стойке баскетболиста правым, левым
          боком, спиной вперёд</p>
        <p>Ведение мяча по прямой </p>
        <p>Ведение мяча с изменением направления</p>
        <p>Ведение – 2 шага – бросок мяча в кольцо </p>
        <p>Бросок мяча в кольцо после остановки </p>
        <p>Штрафной бросок</p>
        <p>Подбор мяча после броска</p>
        <p>Передача и ловля мяча</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Флорбол</h3>
        <p>Передвижение без мяча</p>
        <p>Ведение мяча по прямой</p>
        <p>Ведение мяча с изменением направления</p>
        <p>Удар мяча по воротам после остановки верхом, низом правой и левой 
          ногой</p>
        <p>Удар мяча по воротам в движении верхом, низом, правой и левой 
          ногой</p>
        <p>Жонглирование мячом</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Футбол</h3>
        <p>Передвижение без мяча</p>
        <p>Ведение мяча по прямой</p>
        <p>Ведение мяча с изменением направления</p>
        <p>Удар мяча по воротам после остановки верхом, низом правой и левой 
          ногой</p>
        <p>Удар мяча по воротам в движении верхом, низом, правой и левой 
          ного</p>
        <p>Жонглирование мячом</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Волейбол</h3>
        <p>Нижняя прямая подача мяча из зоны подачи в указанную зону</p>
        <p>Верхняя прямая подача мяча из зоны подачи в указанную зону </p>
        <p>Подача мяча в прыжке из зоны подачи в указанную зону </p>
        <p>Верхняя передача мяча над собой на месте</p>
        <p>Верхняя передача мяча над собой в движении </p>
      </div>
    </div>
  </div>
  
  </body>