<body>
  <h1>Спортивные игры</h1>
  
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Баскетбол</h3>
        <p><a routerLink="elements2">Передвижение без мяча в стойке баскетболиста правым, левым
          боком, спиной вперёд</a></p>
        <p><a routerLink="elements2" >Ведение мяча по прямой </a></p>
        <p><a routerLink="elements2">Ведение мяча с изменением направления</a></p>
        <p><a routerLink="elements2">Ведение – 2 шага – бросок мяча в кольцо </a></p>
        <p><a routerLink="elements2">Бросок мяча в кольцо после остановки </a></p>
        <p><a href="practika/igri/elements2/#5">Штрафной бросок</a></p>
        <p><a routerLink="elements2">Подбор мяча после броска</a></p>
        <p><a routerLink="elements2">Передача и ловля мяча</a></p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Флорбол</h3>
        <p><a routerLink="elements2"> Передвижение без мяча</a></p>
        <p><a routerLink="elements2">Ведение мяча по прямой</a></p>
        <p><a routerLink="elements2">Ведение мяча с изменением направления</a></p>
        <p><a routerLink="elements2">Удар мяча по воротам после остановки верхом, низом правой и левой 
          ногой</a></p>
        <p><a routerLink="elements2">Удар мяча по воротам в движении верхом, низом, правой и левой 
          ногой</a></p>
        <p><a routerLink="elements2">Жонглирование мячом</a></p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Футбол</h3>
        <p><a routerLink="elements2">Передвижение без мяча</a></p>
        <p><a routerLink="elements2">Ведение мяча по прямой</a></p>
        <p><a routerLink="elements2">Ведение мяча с изменением направления</a></p>
        <p><a routerLink="elements2">Удар мяча по воротам после остановки верхом, низом правой и левой 
          ногой</a></p>
        <p><a routerLink="elements2">Удар мяча по воротам в движении верхом, низом, правой и левой 
          ного</a></p>
        <p><a href="">Жонглирование мячом</a></p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Волейбол</h3>
        <p><a routerLink="elements2">Нижняя прямая подача мяча из зоны подачи в указанную зону</a></p>
        <p><a routerLink="elements2">Верхняя прямая подача мяча из зоны подачи в указанную зону</a> </p>
        <p><a routerLink="elements2">Подача мяча в прыжке из зоны подачи в указанную зону </a></p>
        <p><a routerLink="elements2">Верхняя передача мяча над собой на месте</a></p>
        <p><a routerLink="elements2">Верхняя передача мяча над собой в движении </a></p>
      </div>
    </div>
  </div>
  
  </body>