<div>

    <h3>Фронтальное равновесие (пятка поднятой ноги не ниже45°), держать</h3>
    <p>Фронтальное равновесие – одна нога поднята в сторону (или выше), руки в стороны</p>
    <img src="https://www.ok-t.ru/studopediaru/baza7/1445216209194.files/image069.png" alt="">
    <h3>Переднее равновесие («ласточка»), держать</h3>
    <p>Это упражнение не требует специальной подготовки и подводящих движений. Единственное — поначалу выполняйте позу рядом со стеной или стулом, чтобы придерживаться при потере равновесия.
        Соедините ноги вместе, поднимите руки в стороны до уровня плеч. Отведите одну ногу назад и поставьте её на носочек.
        Почувствуйте, как вес равномерно распределяется по стопе опорной конечности. Выпрямите оба колена, напрягите бёдра, ягодицы и пресс, расправьте грудь и опустите плечи.
        Поднимите сзади стоящую ногу и одновременно прогнитесь в пояснице до параллели с полом. В идеале свободная нога должна располагаться не ниже горизонтали, но если вам пока не хватает растяжки, постарайтесь достичь максимально возможной высоты.
        Тяните грудь вперёд и вверх, сохраняйте шею прямой, а плечи — расправленными.
        Не сгибайте колени, следите, чтобы таз и плечи не разворачивались в сторону.
        Удерживайте позу сколько нужно, а затем одновременно опустите ногу на носочек и выпрямите корпус.
        Повторите с другой ноги.  
    </p>
    <img src="https://yandex.ru/images/search?pos=6&from=tabbar&img_url=http%3A%2F%2Fstudfile.net%2Fhtml%2F2706%2F609%2Fhtml_lLlzjgTBQb.YUEw%2Fhtmlconvd-PTXMXi92x1.jpg&text=%D0%9F%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D0%B5%D0%B5+%D1%80%D0%B0%D0%B2%D0%BD%D0%BE%D0%B2%D0%B5%D1%81%D0%B8%D0%B5+%28%C2%AB%D0%BB%D0%B0%D1%81%D1%82%D0%BE%D1%87%D0%BA%D0%B0%C2%BB%29%2C+%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C&rpt=simage&lr=213" alt="">
</div>
<div>

    <h3>Сед углом, руки в стороны</h3>
    <p>Для начала нужно сесть на пол или на гимнастический мат в положение седа. Руки должны принять положение упора сзади, прямые ноги лежат на мате в горизонтальном положении.
        
        Из исходного положения нужно плавно, сохраняя равновесие, поднять прямые ноги в направлении вперед-наверх до положения 45 градусов. Туловище при этом должно отклониться назад не более, чем на 30 градусов. Носки ног должны находиться выше головы.
        
    Такое положение нужно зафиксировать на несколько секунд.
    
    При выполнении упражнения очень важно держать ноги прямо, не сгибая их в коленях. Мышцы пресса должны быть напряжены.
    
    Есть более сложные варианты выполнения седа углом, когда одновременно с поднятием ног руки отводятся в стороны или поднимаются наверх.
</p>
</div>
<div>

    <h3>Стойка на лопатках</h3>
    <p>Необходимо лечь спиной на плоскую твердую поверхность, вытянуть руки вдоль тела, расположить ладони вниз, выпрямить ноги. Ступни и коленные чашечки должны прикасаться друг к другу. Закидываете ноги за голову. Сгибаете руки в локтях и укладываете их под поясницу, выпрямляете конечности вверх. Тело вытянуто ровно вверх, дыхание ровное, ягодичные и мышцы бедер сильно напряжены. Грудь касается области подбородка. Локти вместе. Выходить из стойки надо очень медленно, постепенно, чтобы не нанести травму резким движением.
    </p>
    <img src="https://muskul.pro/wp-content/uploads/2017/03/680549.jpg" alt="">
</div>
<div>

    <h3>Стойка на лопатках без помощи рук</h3>
    <p>Из седа согнув ноги перекатом назад стойка на лопатках с
        согнутыми ногами, затем, приняв устойчивое положение, выпрямить
        ноги. В начальной фазе движения помогать сбоку под поясницу, а
        затем, после выпрямления ног, за стопы.Из упора присев перекатом назад стойка на лопатках с помощью
        рук.Из упора присев перекатом назад стойка на лопатках с помощью
        рук, а затем, выпрямить руки и положить их, несколько разведя в
        стороны, на мат. В момент снятия рук с поясницы следить за
        сохранением максимально выпрямленного положения тела.</p>
        <img src="https://alfagym.ru/wp-content/uploads/c/3/e/c3ebf3ffee6fb966e9fe1ebc337b07d8.jpeg" alt="">
    </div>
    <div>
     <h3>Мост из положения лёжа – поворот направо (налево)кругом в упор 
        присев</h3>
     <p>Техника выполнения. Описание техники выполнения "моста" из положения лежа на спине и из положения стоя с помощью приведены для учащихся III и VI классов. Поэтому здесь остановимся на технике поворота в упор стоя на одном колене из положения "мост". Перенося тяжесть тела на правую (левую) руку и правую (левую) ногу, оттолкнуться левой (правой) рукой и начать поворот направо (налево). Повернувшись на 90 градусов, согнуться и закончить упражнение в упоре стоя на правом (левом) колене, другую назад. Завершая поворот, опереться на левую (правую) руку и вернуть кисть правой (левой) руки в обычное положение.</p>
     <img src="https://gbuenergiya.ru/wp-content/uploads/5/d/7/5d7da3f96e0e2133d1a0e4fb05cc7bc7.png" alt="">
    </div>
    <div>
     <h3>Кувырок вперёд</h3>
     <p>Из упора присев (с опорой руками впере­ди стоп на 30-40 см), выпрямляя ноги, перенести массу тела на ру­ки. Сгибая руки и наклоняя голову вперед, оттолкнуться ногами и, переворачиваясь через голову, сделать перекат на шею и лопат­ки. Опираясь лопатками о пол, резко согнуть ноги и взять группи­ровку. Заканчивая кувырок, принять упор присев </p>
     <img src="https://studfile.net/html/2706/1161/html_WcoLqLKiWk.zK6S/img-UFWJqM.jpg" alt="">
    </div>
    <div>
     <h3></h3>
     <p></p>
     <img src="" alt="">
    </div>
    <div>
     <h3></h3>
     <p></p>
     <img src="" alt="">
    </div>
    <div>
     <h3></h3>
     <p></p>
     <img src="" alt="">
    </div>
    <div>
     <h3></h3>
     <p></p>
     <img src="" alt="">
    </div>
    <div>
     <h3></h3>
     <p></p>
     <img src="" alt="">
    </div>
    <div>
     <h3></h3>
     <p></p>
     <img src="" alt="">
    </div>
    
    
    


