<div class="vopros" >
    <p>С какой периодичностью проводятся Олимпийские игры</p>
            
        <div class="var" onclick="this.style.background='red'">раз в 2 года</div>
        <div class="var" onclick="this.style.background='red'">раз в 3 года</div>
        <div class="var" onclick="this.style.background='green'">раз в 4 года</div>
        <div class="var" onclick="this.style.background='red'">раз в 5 лет</div>
    </div>
    <div class="vopros" >
    <p>В каком виде спорта звание чемпиона мира престижнее звания олимпийского чемпиона</p>
            
        <div class="var" onclick="this.style.background='green'"> футбол</div>
        <div class="var" onclick="this.style.background='red'">баскетбол</div>
        <div class="var" onclick="this.style.background='red'">плавание</div>
        <div class="var" onclick="this.style.background='red'">биатлон</div>
    </div>
    <div class="vopros" >
    <p> Когда были проведены первые зимние Олимпийские игры</p>
            
        <div class="var" onclick="this.style.background='red'">1932 г.</div>
        <div class="var" onclick="this.style.background='green'">1924 г.</div>
        <div class="var" onclick="this.style.background='red'">1920 г.</div>
        <div class="var" onclick="this.style.background='red'">1916 г.</div>
    </div>
    <div class="vopros" >
    <p>Первые документально подтверждённые Олимпийские игры прошли в</p>
            
        <div class="var" onclick="this.style.background='red'">777 году.</div>
        <div class="var" onclick="this.style.background='red'"> 777 году до н. э..</div>
        <div class="var" onclick="this.style.background='red'">776 году.</div>
        <div class="var" onclick="this.style.background='green'">776 году до н. э.
    
        </div>
    </div>
    <div class="vopros" >
    <p>1. Город Олимпия расположен в:</p>
            
        <div class="var" onclick="this.style.background='green'">Южной Греции</div>
        <div class="var" onclick="this.style.background='red'">Северной Греции</div>
        <div class="var" onclick="this.style.background='red'">Центральной Греции</div>
        <div class="var" onclick="this.style.background='red'">Центральной Греции</div>
    </div>
    <div class="vopros" >
    <p>1. Город Олимпия расположен в:</p>
            
        <div class="var" onclick="this.style.background='green'">Южной Греции</div>
        <div class="var" onclick="this.style.background='red'">Северной Греции</div>
        <div class="var" onclick="this.style.background='red'">Центральной Греции</div>
        <div class="var" onclick="this.style.background='red'">Центральной Греции</div>
    </div>
    <div class="vopros" >
    <p>1. Город Олимпия расположен в:</p>
            
        <div class="var" onclick="this.style.background='green'">Южной Греции</div>
        <div class="var" onclick="this.style.background='red'">Северной Греции</div>
        <div class="var" onclick="this.style.background='red'">Центральной Греции</div>
        <div class="var" onclick="this.style.background='red'">Центральной Греции</div>
    </div>
    <a href="tests" class="green">Назад</a>
    
