
<div class="vopros" >
    <p>В каком году был изобретён баскетбол:</p>
            
        <div class="var" onclick="this.style.background='green'">1891</div>
        <div class="var" onclick="this.style.background='red'">1900   </div>
        <div class="var" onclick="this.style.background='red'">1918</div>
    </div>
        <div class="vopros" >
    <p>Кто изобрёл баскетбол:</p>
            
        <div class="var" onclick="this.style.background='red'">Чемберлен  </div>
        <div class="var" onclick="this.style.background='green'">Нейсмит</div>
        <div class="var" onclick="this.style.background='red'">Коннолли</div>
    </div>
    <div class="vopros" >
    <p> Когда была создана Международная федерация баскетбола:</p>
            
        <div class="var" onclick="this.style.background='red'">21 июня 1940 года</div>
        <div class="var" onclick="this.style.background='red'">5 декабря 1955 года</div>
        <div class="var" onclick="this.style.background='green'">18 июня 1932 года</div>
  
    </div>
    <div class="vopros" >
    <p> Когда была создана Международная федерация баскетбола:</p>
            
        <div class="var" onclick="this.style.background='red'">21 июня 1940 года</div>
        <div class="var" onclick="this.style.background='red'">5 декабря 1955 года</div>
        <div class="var" onclick="this.style.background='green'">18 июня 1932 года</div>
  
    </div>
    <div class="vopros" >
    <p>Где и когда впервые был организован показательный турнир по баскетболу:</p>
            
    <div class="var" onclick="this.style.background='green'">III О..И. в Сент-Луисе</div>
        <div class="var" onclick="this.style.background='red'"> I О.И. в Афинах</div>
        <div class="var" onclick="this.style.background='red'">VIII О.И. в Париже</div>
  
    </div>
    <div class="vopros" >
    <p>Когда впервые был организован показательный турнир по баскетболу:</p>
            
        <div class="var" onclick="this.style.background='red'">1924 год </div>
        <div class="var" onclick="this.style.background='red'">1896 год</div>
        <div class="var" onclick="this.style.background='green'">1904 год </div>
  
    </div>
    <div class="vopros" >
    <p>Когда был включён баскетбол в программу Олимпийских игр:</p>
            
        <div class="var" onclick="this.style.background='red'">1908 год, IV О.И., Лондон</div>
        <div class="var" onclick="this.style.background='green'">1936 год, XI- О.И. в Берлине</div>
        <div class="var" onclick="this.style.background='red'">1952 год, XV 0,И., Хельсинки</div>
  
    </div>
    <div class="vopros" >
        <p> На каких Олимпийских играх впервые был включён женский баскетбол в программу соревнований?:</p>
        
        <div class="var" onclick="this.style.background='red'">XVII О.И. – Рим, 1960 год</div>
        <div class="var" onclick="this.style.background='red'">XIV О.И. – Лондон, 1948 год</div>
        <div class="var" onclick="this.style.background='green'">XXI О.И. – Монреаль, 1976 год</div>
        
    </div>
    <div class="vopros" >
    <p>Техника владения мячом включает в себя один из следующих приемов:</p>
            
    <div class="var" onclick="this.style.background='red'">остановки     </div>
    <div class="var" onclick="this.style.background='red'">пасы  </div>
    <div class="var" onclick="this.style.background='green'">ловлю</div>
  
    </div>
    <div class="vopros" >
    <p> Техника владения мячом включает в себя один из следующих приемов:</p>
            
    <div class="var" onclick="this.style.background='red'"> пасы  </div>
        <div class="var" onclick="this.style.background='green'"> передачи</div>
        <div class="var" onclick="this.style.background='red'">повороты</div>
  
    </div>
    <div class="vopros" >
    <p>Техника владения мячом включает в себя один из следующих приемов:</p>
            
    <div class="var" onclick="this.style.background='green'">ведение мяча</div>
        <div class="var" onclick="this.style.background='red'">повороты  </div>
        <div class="var" onclick="this.style.background='red'">перебежки</div>
  
    </div>
    <a href="tests" class="green">Назад</a>
    
