<h1>Баскетбол</h1>

<h4>Передвижение без мяча в стойке баскетболиста правым, левым боком, спиной вперёд</h4>
<p>Передвижение в стойке баскетболиста осуществляется приставными шагами правым, левым боком и спиной вперед. При передвижениии правым боком правая нога скользящим движением приставляеться на шаг вправо, затем левая нога выполняет скользящий шаг вправо, после чего все повторяеться сначала</p>
<h4>Ведение мяча по прямой</h4>
<p>Ведение осуществляется последовательными мягкими толчками мяча одной рукой вниз - вперед, несколько в стороне от ступней ног. Основные движения выполняются в локтевом и лучезапястном суставах.</p>
<h4>Ведение мяча с изменением направления</h4>
<p>Ведение с изменением направления – игрок ведет мяч правой рукой – кисть накладывает на боковую поверхность мяча и, выпрямляя руку, посылает его влево. Туловище при этом наклоняется в сторону полета мяча, тяжесть тела переносится на левую ногу. Игрок продолжает двигаться в новом направлении, ведя мяч левой рукой.</p>
<h4>Ведение – 2 шага – бросок мяча в кольцо</h4>
<p>Передвижение осуществляют на слегка согнутых ногах, наклоняя туловище несколько вперед. Рука, ведущая мяч, при этом согнута в локте, кисть со свободно расставленными пальцами накладывается на мяч сверху «от себя». Толчки мяча выполняют вперед несколько от себя, равномерно, согласованно с передвижением, по типу «Догони мяч».</p>
<h4></h4>
<p></p>
<h4 id="5">Штрафной бросок</h4>
<p>Каких-то технических ограничений в выполнении штрафных баскетбольными правилами не предусмотрено. Однако, подавляющее большинство современных игроков используют один и тот же способ – бросок от плеча одной рукой. Мяч лежащий на ладони и пальцах выпускается из рук одновременно с выпрямлением коленных суставов ног и локтевого сустава бросковой руки. Снаряд подкручивается указательным пальцем и при соблюдении баскетболистам правильной траектории мягко опускается в кольцо.</p>
<h4>Передача и ловля мяча</h4>
<p>Передача мяча в баскетболе – приём, с помощью которого игрок направляет мяч партнеру для продолжения атаки. К основным способам передач относят пасы от груди, от плеча, из-за головы, снизу, сбоку, из рук в руки и др. Эти передачи применяют в большинстве игровых моментов. Быстрота и точность выполнения всех способов передач зависят от правильной и энергичной работы кистей рук и пальцев.
    Ловля — приём, благодаря которому игрок может завладеть мячом. К снаряду, обычно, протягиваются прямые руки с широко растопыренными пальцами и направленными друг к другу большими пальцами. Ловля — основной элемент при выполнении последующего ведения, передач или бросков. В случае если планируется пас, то игрок должен видеть место и человека, к которому он направит мячик после ловли периферическим зрением.
</p>
<h1>Флорбол</h1>

<h4>Ведение мяча по прямой</h4>
<p>Ведение – технический приём, позволяющий перемещать мяч из одной части площадки в другую одним игроком. Этот приём не является законченным действием, предваряет собой последующие передачу, обводку или атаку ворот. Мяч можно вести держа клюшку одной или двумя руками, не отрывая от клюшки, толчками или дриблингом, перемещаясь лицом вперёд, боком, по дуге, с поворотами на 180-360 градусов или спиной вперёд. Чисто флорбольным является ведение мяча по дуге, спрятав его за корпусом на высокой скорости с последующей передачей или атакой ворот, а также ведение с поворотами на 360 градусов вокруг своей оси на высокой скорости (для хоккея на льду это весьма  затруднительно)</p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>

<h1>Футбол</h1>

<h4>Ведение мяча по прямой</h4>
<p>Дриблинг, или ведение мяча толчками, широко используется игроками в современном футболе. Дриблинг применяется для выхода на свободную позицию, для держания мяча, когда партнеры закрыты и некому дать точную передачу. Ведение осуществляется внешней и внутренней частями подъема, внутренней стороной стопы и даже носком</p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>

<h1>Волейбол</h1>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
