
<div class="vopros" >
    <p>Масса баскетбольного мяча (официально принятого размера 7):</p>
            
        <div class="var" onclick="this.style.background='green'">567-650 г</div>
        <div class="var" onclick="this.style.background='red'">500-560 г</div>
        <div class="var" onclick="this.style.background='red'">456-500 г</div>
    </div>
    

<div class="vopros" >
    <p>Игровое время в баскетболе состоит из:</p>
            
    <div class="var" onclick="this.style.background='red'">4 периодов по 15 минут</div>
    <div class="var" onclick="this.style.background='green'">4 периодов по 10 минут</div>
        <div class="var" onclick="this.style.background='red'">4 периодов по 8 минут</div>
    </div>
    

<div class="vopros" >
    <p> При каком количестве фолов игрок должен быть удален из игры по правилам ФИБА:</p>
            
    <div class="var" onclick="this.style.background='red'">8</div>
    <div class="var" onclick="this.style.background='red'">4</div>
    <div class="var" onclick="this.style.background='green'">5</div>
    </div>
    

<div class="vopros" >
    <p>В каком году и где впервые сборная команда России приняла участие в Олимпийском турнире по футболу:</p>
            
    <div class="var" onclick="this.style.background='red'">1908 </div>
    <div class="var" onclick="this.style.background='red'">1916</div>
    <div class="var" onclick="this.style.background='green'">1912 </div>
    </div>
    

<div class="vopros" >
    <p>Какое минимальное количество игроков должно быть в команде, при котором она допускается к игре в футбол:</p>
            
    <div class="var" onclick="this.style.background='red'"> не менее 8        </div>
    <div class="var" onclick="this.style.background='green'"> не менее 7</div>
        <div class="var" onclick="this.style.background='red'">не менее 6</div>
    </div>
    

<div class="vopros" >
    <p>Какое наказание следует в футболе, если вратарь, находясь в пределах штрафной площади, касается мяча руками за ее пределами:</p>
            
    <div class="var" onclick="this.style.background='red'"> угловой удар</div>
    <div class="var" onclick="this.style.background='red'">11 метровый удар</div>
    <div class="var" onclick="this.style.background='green'">штрафной удар</div>
    </div>
    

<div class="vopros" >
    <p>Вес футбольного мяча по правилам ФИФА (для сухого мяча):</p>
            
        <div class="var" onclick="this.style.background='green'">не более 410-450 г</div>
        <div class="var" onclick="this.style.background='red'">не более 310-350 г</div>
        <div class="var" onclick="this.style.background='red'">не более 510-550 г</div>
    </div>
    
<div class="vopros" >
    <p>Автором создания игры в волейбол считается:</p>
            
    <div class="var" onclick="this.style.background='red'">Мацудайра   </div>
    <div class="var" onclick="this.style.background='red'">Эйнгорн </div>
    <div class="var" onclick="this.style.background='green'">Морган</div>
</div>
    
<div class="vopros" >
    <p> Какая должна быть высота сетки в волейболе для мужчин:</p>
            
    <div class="var" onclick="this.style.background='red'">2 м 33 см </div>
    <div class="var" onclick="this.style.background='green'">2 м 43 см</div>
        <div class="var" onclick="this.style.background='red'">2 м 13 см</div>
    </div>
<div class="vopros" >
    <p> Какая должна быть высота сетки в волейболе для женщин:</p>
            
        <div class="var" onclick="this.style.background='green'">2 м 24 см</div>
        <div class="var" onclick="this.style.background='red'">2 м 14 см    </div>
        <div class="var" onclick="this.style.background='red'">2 м 04 см</div>
    </div>
    
    <a href="tests" class="green">Назад</a>
    