
<body>

          <h1 class="display-4 fw-normal">Подготовка к олимпиаде по физической культуре</h1>
    
        <div class="container">
          <div class="card">
            <div class="box">
              <div class="content">
                <h3>Теория</h3>
                <p>Здесь собранны все темы для подготовки</p>
                <a routerLink="teoriya">Приступить к изучению</a>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="box">
              <div class="content">
                <h3>Тесты</h3>
                <p>После изучения теории закрепи знания</p>
                <a routerLink="tests">К тестам</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <div class="content">
                <h3>Практика</h3>
                <p>Здесь ты сможешь узнать, как готовиться к практике  </p>
                <a routerLink="practika">К практике</a>
              </div>
            </div>
          </div>
        
        </div>
</body>