
<body>
    
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
      </symbol>
    </svg>
    
    <div class="container py-3">
      <!-- <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
           
            <span class="fs-4"></span>
          </a>
    
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" routerLink="" >Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" routerLink="dop-inf" >Варианты прошлых лет</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">О проекте</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Контакты</a>
          </nav>
        </div>
    
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center"> -->
          <h1 class="display-4 fw-normal">Подготовка к олимпиаде по физической культуре</h1>
<!--         
        </div>
      </header>
     -->
      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Теория</h4>
              </div>
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Здесь собранны все темы для подготовки</h3>
                
                <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="teoriya">Начать изучать</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Тесты</h4>
              </div>
              <div class="card-body">
                <h3 class="card-title pricing-card-title">После изучения теории закрепи знания</h3>
                <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="tests">К тестам</button>
              </div>
            </div>
          </div>
          <!-- <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Варианты прошлых лет</h4>
              </div>
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Здесь находяться задания прошлых лет</h3>
                <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="dop-inf">Прошлые задания</button>
              </div>
            </div>
          </div>
      -->
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Практический тур</h4>
              </div>
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Здесь ты сможешь узнать, как готовиться к практике  </h3>
                <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="dop-inf">Практика</button>
              </div>
            </div>
          </div>
     
        </div>