<!-- <div>
<p>Этот сайт создан для помощи в подготовки школьникам к ВСОШ по физической культуре.</p>
<p>Здесь собраны все темы которые могут появиться на теоритической части олимпиады,
    элементы гимнастики практической части а также обучение к их выполнению и задания с ответами прошлых годов
     </p>
</div> -->
<div class="card card-1">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <h2 class="card__title">Этот сайт создан для помощи в подготовки школьникам к ВСОШ по физической культуре. <br>
    Здесь собраны все темы которые могут появиться на теоритической части олимпиады,
    элементы гимнастики практической части а также обучение к их выполнению и задания с ответами прошлых годов
    </h2>
  </div>