<div>

    <h3> Этот сайт создан для помощи в подготовке к ВСОШ по физической культре </h3>
    <p> Олимпиада по физической культуре неочень популярна среди школьников, но при помощи победы в ней можно поступить во многие ВУЗы без вступительных экзаменов.<br>
        На этом сайте представлен теоритечекая составляющая олимпиады и тесты для закрепления и проверки полученных знаний. <br>
        Так же здесь вы сможети найти варианты прошлых лет, которые помогут примерно почуствовать сложность заданий на ращных этапах.
    </p>
</div>
